In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("roadAccStats13-16.csv")
df1 = pd.read_csv("Details_of_road_accident_deaths_by_situation_state_2014.csv")
df2 = pd.read_csv("Persons_killed_due_to_Non-use_of_Safety_Device_2016.csv")
df3 = pd.read_csv("accidents03-16-New.csv")
df4 = pd.read_csv("laneAccidents.csv")
df5 = pd.read_csv("reasonOfAccident.csv")
df6 = pd.read_csv("typeOfVehicle.csv")
df7 = pd.read_csv("timeOfOccurence NEW.csv")

In [3]:
#The percentage of road accidents during all the years.
new_df = df3.drop("States/Uts",axis=1)
new_df

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,8616.0,9343.0,9126.0,11378.0,11885.0,12233.0,12676.0,13932.0,13783.0,13560.0,13175.0,7277,7524,7851
1,65.0,79.0,63.0,87.0,81.0,90.0,114.0,108.0,96.0,94.0,120.0,92,117,103
2,1120.0,1177.0,1420.0,1627.0,1483.0,1641.0,1735.0,1924.0,2015.0,2011.0,2162.0,2169,2122,2445
3,2138.0,1579.0,1462.0,2315.0,3074.0,3514.0,4038.0,4513.0,4676.0,4706.0,4612.0,4505,4771,4425
4,1788.0,1892.0,2049.0,2288.0,2496.0,2600.0,2566.0,2668.0,2659.0,2783.0,3059.0,3570,3710,3527
5,207.0,281.0,220.0,290.0,300.0,294.0,298.0,307.0,314.0,271.0,249.0,283,302,316
6,4335.0,4671.0,4922.0,5435.0,5958.0,6132.0,6112.0,6648.0,7045.0,6896.0,6786.0,7063,7332,7296
7,2722.0,3032.0,3010.0,3483.0,3980.0,4071.0,4227.0,4168.0,4255.0,3963.0,4095.0,4214,4430,4636
8,507.0,527.0,549.0,577.0,659.0,568.0,760.0,766.0,735.0,732.0,736.0,831,843,1000
9,609.0,669.0,660.0,646.0,717.0,694.0,773.0,814.0,846.0,863.0,809.0,886,749,734
10,1576.0,1685.0,1784.0,1784.0,2078.0,1829.0,2042.0,2256.0,2279.0,2540.0,2425.0,2259,2619,2681
11,5493.0,5786.0,6093.0,7092.0,7875.0,7848.0,7717.0,8354.0,8091.0,8485.0,8870.0,9485,9888,10215
12,2650.0,2824.0,2956.0,3390.0,3465.0,3632.0,3556.0,3646.0,3896.0,4013.0,3972.0,3823,3937,4064
13,3868.0,4171.0,4620.0,4846.0,5457.0,5861.0,6415.0,7044.0,6992.0,7120.0,7565.0,7554,8412,8774
14,8159.0,8555.0,8867.0,9796.0,9802.0,10789.0,10143.0,11188.0,11557.0,11994.0,11336.0,11528,12009,11780
15,114.0,87.0,115.0,127.0,103.0,109.0,99.0,121.0,142.0,138.0,144.0,149,116,78
16,137.0,108.0,106.0,125.0,107.0,103.0,124.0,131.0,147.0,161.0,124.0,127,153,146
17,71.0,40.0,52.0,53.0,44.0,53.0,51.0,63.0,59.0,69.0,77.0,88,50,61
18,43.0,42.0,48.0,60.0,74.0,57.0,33.0,24.0,24.0,24.0,34.0,68,23,41
19,1954.0,2227.0,2279.0,2456.0,2726.0,2838.0,3043.0,3388.0,3220.0,3285.0,3481.0,3506,3855,4036
20,2352.0,2317.0,2447.0,2724.0,2664.0,2840.0,3216.0,3282.0,4483.0,4359.0,4164.0,4285,4357,4584
21,5050.0,5488.0,5815.0,6252.0,7036.0,7241.0,8010.0,8143.0,8354.0,8550.0,8785.0,9334,9306,9282
22,22.0,26.0,53.0,40.0,31.0,32.0,55.0,32.0,48.0,44.0,66.0,53,61,60
23,8393.0,8733.0,8843.0,10055.0,11034.0,11813.0,12727.0,14241.0,14359.0,15072.0,14504.0,14165,14524,16092
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6316,6569,6617
25,147.0,166.0,188.0,187.0,195.0,190.0,216.0,224.0,229.0,240.0,219.0,168,154,165
26,513.0,617.0,622.0,758.0,773.0,717.0,676.0,740.0,726.0,686.0,642.0,713,765,801
27,7038.0,8739.0,8832.0,9592.0,10256.0,11652.0,12679.0,13282.0,13004.0,13293.0,13077.0,13842,15218,16164
28,1793.0,2246.0,4073.0,3896.0,4232.0,4671.0,4135.0,4975.0,5107.0,4911.0,5077.0,5489,5779,6081
29,12.0,15.0,17.0,18.0,21.0,22.0,31.0,25.0,17.0,24.0,32.0,20,22,16
30,132.0,144.0,133.0,134.0,142.0,144.0,164.0,132.0,129.0,130.0,114.0,124,124,144
31,34.0,46.0,51.0,43.0,61.0,62.0,43.0,61.0,61.0,50.0,47.0,53,36,40
32,19.0,23.0,21.0,24.0,29.0,29.0,32.0,30.0,33.0,26.0,30.0,15,38,32
33,1730.0,1846.0,1771.0,2129.0,2081.0,2015.0,2272.0,2104.0,2007.0,1822.0,1778.0,1629,1582,1548
34,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0,0,1
35,182.0,176.0,224.0,209.0,242.0,207.0,214.0,224.0,230.0,178.0,223.0,145,229,235
36,73589.0,79357.0,83491.0,93917.0,101161.0,106591.0,110993.0,119558.0,121618.0,123093.0,122589.0,125828,131726,136071

In [4]:
new_df.columns
x = new_df.tail(1).values

new_df1 = pd.DataFrame(data=x,columns=new_df.columns )
new_df1 = new_df1.T
new_df1.columns = ["values"]
new_df1

        values
2003   73589.0
2004   79357.0
2005   83491.0
2006   93917.0
2007  101161.0
2008  106591.0
2009  110993.0
2010  119558.0
2011  121618.0
2012  123093.0
2013  122589.0
2014  125828.0
2015  131726.0
2016  136071.0

In [5]:
total_sum = new_df1['values'].sum()

new_df1['Percentage'] = (new_df1['values'] / total_sum) * 100

print(new_df1)

        values  Percentage
2003   73589.0    4.811053
2004   79357.0    5.188149
2005   83491.0    5.458419
2006   93917.0    6.140043
2007  101161.0    6.613637
2008  106591.0    6.968636
2009  110993.0    7.256427
2010  119558.0    7.816384
2011  121618.0    7.951061
2012  123093.0    8.047493
2013  122589.0    8.014543
2014  125828.0    8.226300
2015  131726.0    8.611895
2016  136071.0    8.895960

The percentage of road accidents during all the years.

In [6]:
#Mean Accidents per 1L population for each year.
df.head()

,SI. No.,States/UTs,State/UT-Wise Total Number of Road Accidents during - 2013,State/UT-Wise Total Number of Road Accidents during - 2014,State/UT-Wise Total Number of Road Accidents during - 2015,State/UT-Wise Total Number of Road Accidents during - 2016,Share of States/UTs in Total Number of Road Accidents - 2013,Share of States/UTs in Total Number of Road Accidents - 2014,Share of States/UTs in Total Number of Road Accidents - 2015,Share of States/UTs in Total Number of Road Accidents - 2016,Total Number of Accidents Per Lakh Population - 2013,Total Number of Accidents Per Lakh Population - 2014,Total Number of Accidents Per Lakh Population - 2015,Total Number of Accidents Per Lakh Population - 2016,"Total Number of Road Accidents per 10,000 Vehicles - 2013","Total Number of Road Accidents per 10,000 Vehicles - 2014","Total Number of Road Accidents per 10,000 Vehicles - 2015","Total Number of Road Accidents per 10,000 Km of Roads - 2013","Total Number of Road Accidents per 10,000 Km of Roads - 2014","Total Number of Road Accidents per 10,000 Km of Roads - 2015"
0,1,Andhra Pradesh,43482.0,24440,24258,24888,8.9,5.0,4.8,5.2,50.4,28.1,27.7,28.2,34.3,34.9,30.8,1661.8,1372.3,1355.0
1,2,Arunachal Pradesh,308.0,205,284,249,0.1,0.0,0.1,0.1,24.3,16.0,21.9,19.0,20.4,13.6,18.8,109.6,83.8,112.0
2,3,Assam,7211.0,7144,6959,7435,1.5,1.5,1.4,1.5,23.0,22.5,21.7,22.9,38.4,32.2,27.7,250.3,227.8,213.1
3,4,Bihar,10200.0,9556,9555,8222,2.1,2.0,1.9,1.7,10.2,9.4,9.3,7.9,28.2,23.0,20.0,517.1,455.6,463.8
4,5,Chhattisgarh,13657.0,13821,14446,13580,2.8,2.8,2.9,2.8,54.8,54.8,56.5,52.5,39.7,35.7,33.5,1530.4,1461.3,1481.1

In [7]:
means = []
new_df2 = df[["Total Number of Accidents Per Lakh Population - 2013","Total Number of Accidents Per Lakh Population - 2014","Total Number of Accidents Per Lakh Population - 2015","Total Number of Accidents Per Lakh Population - 2016"]]
for col in new_df2.columns:
    x = df[col].mean()
    means.append(x)
years = [2013,2014,2015,2016]
means
mean_df = pd.DataFrame({"years": years,"means":means})
mean_df

   years      means
0   2013  41.911111
1   2014  39.877778
2   2015  40.833333
3   2016  39.636111

Mean Accidents per 1L population for each year.

In [8]:
#The highest number of accident states and least number of accident states.
df3["Total_accidents"] = df3.iloc[:,1:].sum(axis=1)
new_df3 = df3.iloc[:-1]
new_df3.tail()

,States/Uts,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,Total_accidents
31,Dadra & Nagar Haveli,34.0,46.0,51.0,43.0,61.0,62.0,43.0,61.0,61.0,50.0,47.0,53,36,40,688.0
32,Daman & Diu,19.0,23.0,21.0,24.0,29.0,29.0,32.0,30.0,33.0,26.0,30.0,15,38,32,381.0
33,Delhi,1730.0,1846.0,1771.0,2129.0,2081.0,2015.0,2272.0,2104.0,2007.0,1822.0,1778.0,1629,1582,1548,26314.0
34,Lakshadweep,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0,0,1,3.0
35,Puducherry,182.0,176.0,224.0,209.0,242.0,207.0,214.0,224.0,230.0,178.0,223.0,145,229,235,2918.0

In [9]:
max_accident_state_index = new_df3["Total_accidents"].idxmax()
min_accident_state_index = new_df3["Total_accidents"].idxmin()
max_accident_state = new_df3.iloc[max_accident_state_index,0]
min_accident_state = new_df3.iloc[min_accident_state_index,0]
print(f'The maximum accident state is {max_accident_state} and the minium accident state is {min_accident_state}')

The maximum accident state is Tamil Nadu and the minium accident state is Lakshadweep

The highest number of accident states and least number of accident states.

In [10]:
#Offenders and victims who died according to gender as well the as the total deaths.
df1.head()

,States/UTs,Year,CrimeHead,Offenders (Driver/Pedestrian) Died_Male,Offenders (Driver/Pedestrian) Died_Female,Offenders (Driver/Pedestrian) Died_Transgender,Offenders (Driver/Pedestrian) Died_Total,Victims Died_Male,Victims Died_Female,Victims Died_Transgender,Victims Died_Total
0,Andhra Pradesh,2014,Truck/Lorry (Total),445,30,0,475,871,135,0,1006
1,Andhra Pradesh,2014,Truck/Lorry - Normal Goods Carriers,357,25,0,382,577,101,0,678
2,Andhra Pradesh,2014,Truck/Lorry - Trailer/Container Carriers,12,0,0,12,25,0,0,25
3,Andhra Pradesh,2014,Truck/Lorry - Tankers,10,0,0,10,102,15,0,117
4,Andhra Pradesh,2014,Truck/Lorry - Others,66,5,0,71,167,19,0,186

In [11]:
new_df4 = df1.iloc[:,3:]
total_no = []
for col in new_df4.columns:
    x = new_df4[col].sum()
    total_no.append(x)
total_no
offenders_victims = pd.DataFrame({"types":new_df4.columns,"Numbers":total_no})
offenders_victims

                                            types  Numbers
0         Offenders (Driver/Pedestrian) Died_Male   363048
1       Offenders (Driver/Pedestrian) Died_Female    31338
2  Offenders (Driver/Pedestrian) Died_Transgender        0
3        Offenders (Driver/Pedestrian) Died_Total   394386
4                               Victims Died_Male  1018575
5                             Victims Died_Female   199995
6                        Victims Died_Transgender      195
7                              Victims Died_Total  1218765

Offenders and victims who died according to gender as well the as the total deaths.

In [12]:
#Percentage of Deaths occurring due to non-wearing of helmets between male and female.
df2.head()

,S. No.,State/ UT,Non-wearing of Helmet - Male,Non-wearing of Helmet - Female,Non-wearing of Helmet - Total,Non-wearing of seat belt - Male,Non-wearing of seat belt - Female,Non-wearing of seat belt - Total
0,1,Andhra Pradesh,459,18,477,222,15,237
1,2,Arunachal Pradesh,10,4,14,0,0,0
2,3,Assam,0,0,0,0,0,0
3,4,Bihar,0,0,0,0,0,0
4,5,Chhattisgarh,89,7,96,6,0,6

In [13]:
new_df5 = df2.iloc[:,2:5]
new_df5.head()

,Non-wearing of Helmet - Male,Non-wearing of Helmet - Female,Non-wearing of Helmet - Total
0,459,18,477
1,10,4,14
2,0,0,0
3,0,0,0
4,89,7,96

In [14]:
total_sum = new_df5.sum(axis=0)

Male_Percentage = (new_df5["Non-wearing of Helmet - Male"].sum() / total_sum["Non-wearing of Helmet - Total"]) * 100
FeMale_Percentage = (new_df5["Non-wearing of Helmet - Male"].sum() / total_sum["Non-wearing of Helmet - Total"]) * 100

print(f"the male percentage is {Male_Percentage} and the female percentage is {FeMale_Percentage}")

the male percentage is 85.01233349777996 and the female percentage is 85.01233349777996

Percentage of Deaths occurring due to non-wearing of helmets between male and female.

In [15]:
#The number of accidents happening per state from the year 2003 to 2016.
df3.head()

,States/Uts,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,Total_accidents
0,Andhra Pradesh,8616.0,9343.0,9126.0,11378.0,11885.0,12233.0,12676.0,13932.0,13783.0,13560.0,13175.0,7277,7524,7851,152359.0
1,Arunachal Pradesh,65.0,79.0,63.0,87.0,81.0,90.0,114.0,108.0,96.0,94.0,120.0,92,117,103,1309.0
2,Assam,1120.0,1177.0,1420.0,1627.0,1483.0,1641.0,1735.0,1924.0,2015.0,2011.0,2162.0,2169,2122,2445,25051.0
3,Bihar,2138.0,1579.0,1462.0,2315.0,3074.0,3514.0,4038.0,4513.0,4676.0,4706.0,4612.0,4505,4771,4425,50328.0
4,Chhattisgarh,1788.0,1892.0,2049.0,2288.0,2496.0,2600.0,2566.0,2668.0,2659.0,2783.0,3059.0,3570,3710,3527,37655.0

In [16]:
df3.iloc[:,[0,-1]]

                   States/Uts  Total_accidents
0              Andhra Pradesh         152359.0
1           Arunachal Pradesh           1309.0
2                       Assam          25051.0
3                       Bihar          50328.0
4                Chhattisgarh          37655.0
5                         Goa           3932.0
6                     Gujarat          86631.0
7                     Haryana          54286.0
8            Himachal Pradesh           9790.0
9             Jammu & Kashmir          10469.0
10                  Jharkhand          29837.0
11                  Karnataka         111292.0
12                     Kerala          49824.0
13             Madhya Pradesh          88699.0
14                Maharashtra         147503.0
15                    Manipur           1642.0
16                  Meghalaya           1799.0
17                    Mizoram            831.0
18                   Nagaland            595.0
19                     Odisha          42294.0
20                     Punjab          48074.0
21                  Rajasthan         106646.0
22                     Sikkim            623.0
23                 Tamil Nadu         174555.0
24                  Telangana          19502.0
25                    Tripura           2688.0
26                Uttarakhand           9749.0
27              Uttar Pradesh         166668.0
28                West Bengal          62465.0
29  Andaman & Nicobar Islands            292.0
30                 Chandigarh           1890.0
31       Dadra & Nagar Haveli            688.0
32                Daman & Diu            381.0
33                      Delhi          26314.0
34                Lakshadweep              3.0
35                 Puducherry           2918.0
36                  All India        1529582.0

The number of accidents happening per state from the year 2003 to 2016.

In [17]:
#Number of ACCIDENTS for 1,2,3,4 LANE per 1L population of resp. state.
df4.head()

,S.No,State/UT,Single Lane - Accident - 2014,Single Lane - Accident - 2014 per 1L people,Single Lane - Killed - 2014,Single Lane - Killed - 2014 per 1L people,Single Lane - Injured - 2014,Single Lane - Injured - 2014 per 1L people,Two Lanes - Accident - 2014,Two Lanes - Accident - 2014 per 1L people,...,3 Lanes or more w.o Median - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014,3 Lanes or more w.o Median - Injured - 2014 per 1L people,4 Lanes with Median - Accident - 2014,4 Lanes with Median - Accident - 2014 per 1L people,4 Lanes with Median - Killed - 2014,4 Lanes with Median - Killed - 2014 per 1L people,4 Lanes with Median - Injured - 2014,4 Lanes with Median - Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,8634.0,16.473750,2958.0,5.643891,13541.0,25.836350,10327.0,19.704009,...,0.755572,1199.0,2.287703,4291.0,8.187267,1560.0,2.976494,5069.0,9.671698,52410653
1,2,Arunachal Pradesh,90.0,6.504173,60.0,4.336115,152.0,10.984826,115.0,8.310888,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1383727
2,3,Assam,3888.0,12.459312,1217.0,3.899944,3195.0,10.238555,2432.0,7.793479,...,0.080114,42.0,0.134591,768.0,2.461099,245.0,0.785116,752.0,2.409826,31205576
3,4,Bihar,3731.0,3.584073,1815.0,1.743525,2475.0,2.377534,4156.0,3.992336,...,0.374642,485.0,0.465901,913.0,0.877046,612.0,0.587899,588.0,0.564844,104099452
4,5,Chhattisgarh,7961.0,31.164370,2244.0,8.784430,7762.0,30.385359,4696.0,18.383103,...,0.000000,0.0,0.000000,1164.0,4.556629,254.0,0.994316,734.0,2.873338,25545198

In [18]:
new_df6= df4.iloc[:,[3,9,15,21]]
new_df6.head()

,Single Lane - Accident - 2014 per 1L people,Two Lanes - Accident - 2014 per 1L people,3 Lanes or more w.o Median - Accident - 2014 per 1L people,4 Lanes with Median - Accident - 2014 per 1L people
0,16.473750,19.704009,2.266715,8.187267
1,6.504173,8.310888,0.000000,0.000000
2,12.459312,7.793479,0.179455,2.461099
3,3.584073,3.992336,0.726229,0.877046
4,31.164370,18.383103,0.000000,4.556629

In [19]:
total_sum = new_df6.sum(axis=1)
df4["Number of ACCIDENTS"] = total_sum
df4.iloc[:,[1,3,9,15,21,-1]]

,State/UT,Single Lane - Accident - 2014 per 1L people,Two Lanes - Accident - 2014 per 1L people,3 Lanes or more w.o Median - Accident - 2014 per 1L people,4 Lanes with Median - Accident - 2014 per 1L people,Number of ACCIDENTS
0,Andhra Pradesh,16.473750,19.704009,2.266715,8.187267,46.631741
1,Arunachal Pradesh,6.504173,8.310888,0.000000,0.000000,14.815061
2,Assam,12.459312,7.793479,0.179455,2.461099,22.893344
3,Bihar,3.584073,3.992336,0.726229,0.877046,9.179683
4,Chhattisgarh,31.164370,18.383103,0.000000,4.556629,54.104102
5,Goa,172.980607,116.965880,0.000000,0.000000,289.946488
6,Gujarat,18.163560,12.367700,1.062216,7.639020,39.232496
7,Haryana,16.133192,13.490346,2.847962,9.640470,42.111970
8,Himachal Pradesh,17.233337,27.314038,0.000000,0.000000,44.547375
9,Jammu & Kashmir,29.988912,15.429020,0.893049,0.422604,46.733585
10,Jharkhand,7.423882,6.841854,0.097005,1.355033,15.717773
11,Karnataka,43.320847,22.676050,2.298049,3.253933,71.548879
12,Kerala,21.972061,82.053972,2.640239,1.942761,108.609034
13,Madhya Pradesh,39.243084,30.055017,0.319441,4.008162,73.625705
14,Maharashtra,20.676430,20.323146,5.968445,7.872794,54.840815
15,Manipur,14.811993,10.925158,0.210099,0.070033,26.017283
16,Meghalaya,10.381244,7.887049,0.000000,0.000000,18.268294
17,Mizoram,5.195014,6.835544,0.000000,0.000000,12.030558
18,Nagaland,15.415703,0.000000,0.000000,0.000000,15.415703
19,Orissa,12.719713,7.416457,0.295419,2.553949,22.985538
20,Punjab,10.561094,7.666705,1.841884,2.966478,23.036161
21,Rajasthan,17.322058,11.826674,0.370541,6.408607,35.927880
22,Sikkim,33.247240,0.000000,0.000000,0.000000,33.247240
23,Tamil Nadu,28.412812,39.203277,7.469469,18.126872,93.212430
24,Telangana,19.696244,29.775339,1.348633,11.427728,62.247945
25,Tripura,12.575134,5.498219,1.415383,0.000000,19.488736
26,Uttarakhand,7.356519,6.622850,0.000000,0.000000,13.979369
27,Uttar Pradesh,7.484523,4.486710,1.322741,2.237600,15.531573
28,West Bengal,8.385545,4.736179,0.176388,0.807440,14.105552
29,Andaman & Nicobar Islands,26.012859,30.216958,0.262756,0.788268,57.280842
30,Chandigarh,12.411767,7.105974,5.590033,9.853617,34.961391
31,Dadra & Nagar Haveli,6.109820,19.202290,0.000000,0.000000,25.312110
32,Daman & Diu,5.344362,10.688724,0.000000,0.000000,16.033086
33,Delhi,NaN,NaN,NaN,NaN,0.000000
34,Lakshadweep,1.551037,0.000000,0.000000,0.000000,1.551037
35,Puducherry,42.068892,45.434403,0.000000,1.522493,89.025789
36,Total,17.155234,15.954677,1.847290,4.747059,39.704259

Number of ACCIDENTS for 1,2,3,4 LANE per 1L population of resp. state.

In [20]:
#Number of people INJURED for 1,2,3,4 type of lane per 1L population of resp. State.
new_df7= df4.iloc[:,[7,13,19,25]]
new_df7.head()

,Single Lane - Injured - 2014 per 1L people,Two Lanes - Injured - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014 per 1L people,4 Lanes with Median - Injured - 2014 per 1L people
0,25.836350,19.312868,2.287703,9.671698
1,10.984826,11.273900,0.000000,0.000000
2,10.238555,8.043434,0.134591,2.409826
3,2.377534,2.970237,0.465901,0.564844
4,30.385359,18.246091,0.000000,2.873338

In [21]:
total_sum = new_df7.sum(axis=1)
df4["Number of people INJURED"] = total_sum
df4.iloc[:,[1,7,13,19,25,-1]]

,State/UT,Single Lane - Injured - 2014 per 1L people,Two Lanes - Injured - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014 per 1L people,4 Lanes with Median - Injured - 2014 per 1L people,Number of people INJURED
0,Andhra Pradesh,25.836350,19.312868,2.287703,9.671698,57.108619
1,Arunachal Pradesh,10.984826,11.273900,0.000000,0.000000,22.258726
2,Assam,10.238555,8.043434,0.134591,2.409826,20.826406
3,Bihar,2.377534,2.970237,0.465901,0.564844,6.378516
4,Chhattisgarh,30.385359,18.246091,0.000000,2.873338,51.504788
5,Goa,74.800572,54.026444,0.000000,0.000000,128.827016
6,Gujarat,17.658925,11.748902,0.870289,6.937494,37.215610
7,Haryana,13.746742,11.340569,1.538373,8.654333,35.280017
8,Himachal Pradesh,33.825705,47.402603,0.000000,0.000000,81.228307
9,Jammu & Kashmir,32.923216,29.135731,1.610678,0.462472,64.132097
10,Jharkhand,6.074912,5.741458,0.072753,1.315625,13.204748
11,Karnataka,58.200879,30.400049,1.468198,2.951127,93.020253
12,Kerala,23.648403,94.285286,3.017417,2.068487,123.019592
13,Madhya Pradesh,40.317068,30.981672,0.289149,4.602983,76.190873
14,Maharashtra,15.237465,13.104416,2.621595,5.036737,36.000214
15,Manipur,26.682597,18.208596,0.385182,0.070033,45.346408
16,Meghalaya,4.246873,6.235488,0.000000,0.000000,10.482360
17,Mizoram,11.301433,10.025465,0.000000,0.000000,21.326898
18,Nagaland,11.624957,0.000000,0.000000,0.000000,11.624957
19,Orissa,14.370726,8.810170,0.514602,2.718335,26.413833
20,Punjab,7.237774,4.548840,1.257960,1.831070,14.875643
21,Rajasthan,20.115703,12.839097,0.370541,6.723713,40.049053
22,Sikkim,57.650386,0.000000,0.000000,0.000000,57.650386
23,Tamil Nadu,36.202460,45.683100,4.009867,21.835965,107.731392
24,Telangana,21.252598,32.773335,1.159514,11.892774,67.078222
25,Tripura,20.740806,8.546736,4.055617,0.000000,33.343159
26,Uttarakhand,8.179418,6.999599,0.000000,0.000000,15.179017
27,Uttar Pradesh,5.285459,3.276074,1.019957,1.597499,11.178989
28,West Bengal,8.106173,4.336293,0.151190,0.572987,13.166643
29,Andaman & Nicobar Islands,38.887911,33.895544,0.262756,1.313781,74.359992
30,Chandigarh,13.264484,7.011227,3.316121,8.148183,31.740016
31,Dadra & Nagar Haveli,8.146426,19.784178,0.000000,0.000000,27.930604
32,Daman & Diu,4.522152,15.621981,0.000000,0.000000,20.144133
33,Delhi,NaN,NaN,NaN,NaN,0.000000
34,Lakshadweep,1.551037,0.000000,0.000000,0.000000,1.551037
35,Puducherry,31.491571,74.522037,0.000000,0.000000,106.013608
36,Total,17.950622,16.374628,1.188169,4.556698,40.070117

Number of people INJURED for 1,2,3,4 type of lane per 1L population of resp. State.

In [22]:
#Number of people KILLED for 1,2,3,4 LANES per 1L population of resp. States.
new_df8= df4.iloc[:,[5,11,17,23]]
new_df8.head()

,Single Lane - Killed - 2014 per 1L people,Two Lanes - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Killed - 2014 per 1L people,4 Lanes with Median - Killed - 2014 per 1L people
0,5.643891,5.712579,0.755572,2.976494
1,4.336115,4.263847,0.000000,0.000000
2,3.899944,3.316715,0.080114,0.785116
3,1.743525,2.013459,0.374642,0.587899
4,8.784430,5.965896,0.000000,0.994316

In [23]:
total_sum = new_df8.sum(axis=1)
df4["Number of people KILLED"] = total_sum
df4.iloc[:,[1,5,11,17,23,-1]]

,State/UT,Single Lane - Killed - 2014 per 1L people,Two Lanes - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Killed - 2014 per 1L people,4 Lanes with Median - Killed - 2014 per 1L people,Number of people KILLED
0,Andhra Pradesh,5.643891,5.712579,0.755572,2.976494,15.088536
1,Arunachal Pradesh,4.336115,4.263847,0.000000,0.000000,8.599962
2,Assam,3.899944,3.316715,0.080114,0.785116,8.081889
3,Bihar,1.743525,2.013459,0.374642,0.587899,4.719525
4,Chhattisgarh,8.784430,5.965896,0.000000,0.994316,15.744642
5,Goa,12.820996,7.061832,0.000000,0.000000,19.882828
6,Gujarat,5.130734,4.415972,0.410326,3.204848,13.161880
7,Haryana,6.173214,5.723536,1.341146,4.445503,17.683398
8,Himachal Pradesh,7.691633,9.774784,0.000000,0.000000,17.466417
9,Jammu & Kashmir,4.369562,3.340961,0.167447,0.031895,7.909865
10,Jharkhand,3.185994,3.577044,0.060628,1.142835,7.966501
11,Karnataka,9.499913,6.517687,0.626889,0.463211,17.107700
12,Kerala,3.403574,8.196117,0.245464,0.275399,12.120555
13,Madhya Pradesh,6.090038,4.956847,0.049568,0.702220,11.798673
14,Maharashtra,4.727058,4.204697,0.690549,1.770867,11.393171
15,Manipur,3.116471,2.661256,0.035017,0.070033,5.882777
16,Meghalaya,2.730132,2.022320,0.000000,0.000000,4.752453
17,Mizoram,4.101326,5.286154,0.000000,0.000000,9.387481
18,Nagaland,4.094006,0.000000,0.000000,0.000000,4.094006
19,Orissa,4.810096,3.170994,0.102444,1.281739,9.365273
20,Punjab,8.110055,5.738315,0.962393,1.845488,16.656251
21,Rajasthan,7.345171,4.764514,0.204235,2.695904,15.009824
22,Sikkim,9.662991,0.000000,0.000000,0.000000,9.662991
23,Tamil Nadu,6.504772,9.329559,0.806686,4.413210,21.054228
24,Telangana,6.439336,10.075995,0.536353,4.359030,21.410714
25,Tripura,3.756209,1.197632,0.163313,0.000000,5.117154
26,Uttarakhand,4.501159,4.203725,0.000000,0.000000,8.704884
27,Uttar Pradesh,3.888649,2.372226,0.718674,1.171599,8.151148
28,West Bengal,3.810416,2.203205,0.043823,0.379070,6.436514
29,Andaman & Nicobar Islands,2.102049,3.941342,0.000000,0.000000,6.043392
30,Chandigarh,4.358331,2.558151,1.894926,3.600360,12.411767
31,Dadra & Nagar Haveli,4.364157,12.801527,0.000000,0.000000,17.165684
32,Daman & Diu,2.055524,4.111048,0.000000,0.000000,6.166571
33,Delhi,NaN,NaN,NaN,NaN,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000,0.000000
35,Puducherry,3.445643,8.654172,0.000000,0.000000,12.099815
36,Total,4.982925,4.379798,0.448031,1.586152,11.396906

Number of people KILLED for 1,2,3,4 LANES per 1L population of resp. States.

In [24]:
#Number of Accidents, people KILLED, INJURED on SINGLE LANE per 1L population.
new_df9= df4.iloc[:,[3,5,7]]
new_df9.head()

,Single Lane - Accident - 2014 per 1L people,Single Lane - Killed - 2014 per 1L people,Single Lane - Injured - 2014 per 1L people
0,16.473750,5.643891,25.836350
1,6.504173,4.336115,10.984826
2,12.459312,3.899944,10.238555
3,3.584073,1.743525,2.377534
4,31.164370,8.784430,30.385359

In [25]:
total_sum = new_df9.sum(axis=0)
total_sum

Single Lane - Accident - 2014 per 1L people    771.540397
Single Lane - Killed - 2014 per 1L people      181.680040
Single Lane - Injured - 2014 per 1L people     765.068078
dtype: float64

Number of Accidents, people KILLED, INJURED on SINGLE LANE per 1L population.

In [26]:
#Number of accidents, people INJURED, KILLED on DOUBLE LANE per 1L population.
new_df10= df4.iloc[:,[9,11,13]]
new_df10.head()

,Two Lanes - Accident - 2014 per 1L people,Two Lanes - Killed - 2014 per 1L people,Two Lanes - Injured - 2014 per 1L people
0,19.704009,5.712579,19.312868
1,8.310888,4.263847,11.273900
2,7.793479,3.316715,8.043434
3,3.992336,2.013459,2.970237
4,18.383103,5.965896,18.246091

In [27]:
total_sum = new_df10.sum(axis=0)
total_sum

Two Lanes - Accident - 2014 per 1L people    677.184028
Two Lanes - Killed - 2014 per 1L people      168.513906
Two Lanes - Injured - 2014 per 1L people     717.506047
dtype: float64

Number of accidents, people INJURED, KILLED on DOUBLE LANE per 1L population.

In [28]:
#Number of accidents, people INJURED, KILLED on THREE LANE per 1L population.
new_df11= df4.iloc[:,[15,17,19]]
new_df11.head()

,3 Lanes or more w.o Median - Accident - 2014 per 1L people,3 Lanes or more w.o Median - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014 per 1L people
0,2.266715,0.755572,2.287703
1,0.000000,0.000000,0.000000
2,0.179455,0.080114,0.134591
3,0.726229,0.374642,0.465901
4,0.000000,0.000000,0.000000

In [29]:
total_sum = new_df11.sum(axis=0)
total_sum

3 Lanes or more w.o Median - Accident - 2014 per 1L people    41.449441
3 Lanes or more w.o Median - Killed - 2014 per 1L people      10.718241
3 Lanes or more w.o Median - Injured - 2014 per 1L people     32.068122
dtype: float64

Number of accidents, people INJURED, KILLED on THREE LANE per 1L population.

In [30]:
#Number of accidents, people INJURED, KILLED on FOUR LANE per 1L population.
new_df12= df4.iloc[:,[21,23,25]]
new_df12.head()

,4 Lanes with Median - Accident - 2014 per 1L people,4 Lanes with Median - Killed - 2014 per 1L people,4 Lanes with Median - Injured - 2014 per 1L people
0,8.187267,2.976494,9.671698
1,0.000000,0.000000,0.000000
2,2.461099,0.785116,2.409826
3,0.877046,0.587899,0.564844
4,4.556629,0.994316,2.873338

In [31]:
total_sum = new_df12.sum(axis=0)
total_sum

4 Lanes with Median - Accident - 2014 per 1L people    113.726961
4 Lanes with Median - Killed - 2014 per 1L people       38.783188
4 Lanes with Median - Injured - 2014 per 1L people     108.810003
dtype: float64

Number of accidents, people INJURED, KILLED on FOUR LANE per 1L population.

In [32]:
#Total Number of INJURED, KILLED, ROAD ACCIDENTS irrespective of lanes per 1L population of resp. State
new_df13= df4.iloc[:,[3,5,7,9,11,13,15,17,19,21,23,25]]
new_df13.head()

,Single Lane - Accident - 2014 per 1L people,Single Lane - Killed - 2014 per 1L people,Single Lane - Injured - 2014 per 1L people,Two Lanes - Accident - 2014 per 1L people,Two Lanes - Killed - 2014 per 1L people,Two Lanes - Injured - 2014 per 1L people,3 Lanes or more w.o Median - Accident - 2014 per 1L people,3 Lanes or more w.o Median - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014 per 1L people,4 Lanes with Median - Accident - 2014 per 1L people,4 Lanes with Median - Killed - 2014 per 1L people,4 Lanes with Median - Injured - 2014 per 1L people
0,16.473750,5.643891,25.836350,19.704009,5.712579,19.312868,2.266715,0.755572,2.287703,8.187267,2.976494,9.671698
1,6.504173,4.336115,10.984826,8.310888,4.263847,11.273900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,12.459312,3.899944,10.238555,7.793479,3.316715,8.043434,0.179455,0.080114,0.134591,2.461099,0.785116,2.409826
3,3.584073,1.743525,2.377534,3.992336,2.013459,2.970237,0.726229,0.374642,0.465901,0.877046,0.587899,0.564844
4,31.164370,8.784430,30.385359,18.383103,5.965896,18.246091,0.000000,0.000000,0.000000,4.556629,0.994316,2.873338

In [33]:
total_sum = new_df13.sum(axis=1)
df4["Total Number"] = total_sum
df4.iloc[:,[1,3,5,7,9,11,13,15,17,19,21,23,25,-1]]

,State/UT,Single Lane - Accident - 2014 per 1L people,Single Lane - Killed - 2014 per 1L people,Single Lane - Injured - 2014 per 1L people,Two Lanes - Accident - 2014 per 1L people,Two Lanes - Killed - 2014 per 1L people,Two Lanes - Injured - 2014 per 1L people,3 Lanes or more w.o Median - Accident - 2014 per 1L people,3 Lanes or more w.o Median - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014 per 1L people,4 Lanes with Median - Accident - 2014 per 1L people,4 Lanes with Median - Killed - 2014 per 1L people,4 Lanes with Median - Injured - 2014 per 1L people,Total Number
0,Andhra Pradesh,16.473750,5.643891,25.836350,19.704009,5.712579,19.312868,2.266715,0.755572,2.287703,8.187267,2.976494,9.671698,118.828895
1,Arunachal Pradesh,6.504173,4.336115,10.984826,8.310888,4.263847,11.273900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,45.673749
2,Assam,12.459312,3.899944,10.238555,7.793479,3.316715,8.043434,0.179455,0.080114,0.134591,2.461099,0.785116,2.409826,51.801640
3,Bihar,3.584073,1.743525,2.377534,3.992336,2.013459,2.970237,0.726229,0.374642,0.465901,0.877046,0.587899,0.564844,20.277724
4,Chhattisgarh,31.164370,8.784430,30.385359,18.383103,5.965896,18.246091,0.000000,0.000000,0.000000,4.556629,0.994316,2.873338,121.353532
5,Goa,172.980607,12.820996,74.800572,116.965880,7.061832,54.026444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,438.656332
6,Gujarat,18.163560,5.130734,17.658925,12.367700,4.415972,11.748902,1.062216,0.410326,0.870289,7.639020,3.204848,6.937494,89.609987
7,Haryana,16.133192,6.173214,13.746742,13.490346,5.723536,11.340569,2.847962,1.341146,1.538373,9.640470,4.445503,8.654333,95.075385
8,Himachal Pradesh,17.233337,7.691633,33.825705,27.314038,9.774784,47.402603,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,143.242099
9,Jammu & Kashmir,29.988912,4.369562,32.923216,15.429020,3.340961,29.135731,0.893049,0.167447,1.610678,0.422604,0.031895,0.462472,118.775547
10,Jharkhand,7.423882,3.185994,6.074912,6.841854,3.577044,5.741458,0.097005,0.060628,0.072753,1.355033,1.142835,1.315625,36.889022
11,Karnataka,43.320847,9.499913,58.200879,22.676050,6.517687,30.400049,2.298049,0.626889,1.468198,3.253933,0.463211,2.951127,181.676832
12,Kerala,21.972061,3.403574,23.648403,82.053972,8.196117,94.285286,2.640239,0.245464,3.017417,1.942761,0.275399,2.068487,243.749181
13,Madhya Pradesh,39.243084,6.090038,40.317068,30.055017,4.956847,30.981672,0.319441,0.049568,0.289149,4.008162,0.702220,4.602983,161.615251
14,Maharashtra,20.676430,4.727058,15.237465,20.323146,4.204697,13.104416,5.968445,0.690549,2.621595,7.872794,1.770867,5.036737,102.234200
15,Manipur,14.811993,3.116471,26.682597,10.925158,2.661256,18.208596,0.210099,0.035017,0.385182,0.070033,0.070033,0.070033,77.246468
16,Meghalaya,10.381244,2.730132,4.246873,7.887049,2.022320,6.235488,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.503107
17,Mizoram,5.195014,4.101326,11.301433,6.835544,5.286154,10.025465,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,42.744936
18,Nagaland,15.415703,4.094006,11.624957,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.134667
19,Orissa,12.719713,4.810096,14.370726,7.416457,3.170994,8.810170,0.295419,0.102444,0.514602,2.553949,1.281739,2.718335,58.764645
20,Punjab,10.561094,8.110055,7.237774,7.666705,5.738315,4.548840,1.841884,0.962393,1.257960,2.966478,1.845488,1.831070,54.568055
21,Rajasthan,17.322058,7.345171,20.115703,11.826674,4.764514,12.839097,0.370541,0.204235,0.370541,6.408607,2.695904,6.723713,90.986757
22,Sikkim,33.247240,9.662991,57.650386,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.560617
23,Tamil Nadu,28.412812,6.504772,36.202460,39.203277,9.329559,45.683100,7.469469,0.806686,4.009867,18.126872,4.413210,21.835965,221.998050
24,Telangana,19.696244,6.439336,21.252598,29.775339,10.075995,32.773335,1.348633,0.536353,1.159514,11.427728,4.359030,11.892774,150.736881
25,Tripura,12.575134,3.756209,20.740806,5.498219,1.197632,8.546736,1.415383,0.163313,4.055617,0.000000,0.000000,0.000000,57.949050
26,Uttarakhand,7.356519,4.501159,8.179418,6.622850,4.203725,6.999599,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.863270
27,Uttar Pradesh,7.484523,3.888649,5.285459,4.486710,2.372226,3.276074,1.322741,0.718674,1.019957,2.237600,1.171599,1.597499,34.861711
28,West Bengal,8.385545,3.810416,8.106173,4.736179,2.203205,4.336293,0.176388,0.043823,0.151190,0.807440,0.379070,0.572987,33.708709
29,Andaman & Nicobar Islands,26.012859,2.102049,38.887911,30.216958,3.941342,33.895544,0.262756,0.000000,0.262756,0.788268,0.000000,1.313781,137.684225
30,Chandigarh,12.411767,4.358331,13.264484,7.105974,2.558151,7.011227,5.590033,1.894926,3.316121,9.853617,3.600360,8.148183,79.113174
31,Dadra & Nagar Haveli,6.109820,4.364157,8.146426,19.202290,12.801527,19.784178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.408398
32,Daman & Diu,5.344362,2.055524,4.522152,10.688724,4.111048,15.621981,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,42.343790
33,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
34,Lakshadweep,1.551037,0.000000,1.551037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.102074
35,Puducherry,42.068892,3.445643,31.491571,45.434403,8.654172,74.522037,0.000000,0.000000,0.000000,1.522493,0.000000,0.000000,207.139211
36,Total,17.155234,4.982925,17.950622,15.954677,4.379798,16.374628,1.847290,0.448031,1.188169,4.747059,1.586152,4.556698,91.171282

Total Number of INJURED, KILLED, ROAD ACCIDENTS irrespective of lanes per 1L population of resp. State

In [35]:
#Number of people KILLED for each different REASON per 1L population of that state.
df5.head()

,Sl. No,States/UTs,Fault of Driver-Total No. of Road Accidents - 2014,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver-Number of Persons-Killed - 2014,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver-Number of Persons-Injured - 2014,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,...,Falling of boulders-Number of Persons-Killed - 2014 per 1L people,Falling of boulders-Number of Persons-Injured - 2014,Falling of boulders-Number of Persons-Injured - 2014 per 1L people,Other causes/causes not known-Total No. of Road Accidents - 2014,Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people,Other causes/causes not known-Number of Persons-Killed - 2014,Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people,Other causes/causes not known-Number of Persons-Injured - 2014,Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,21359.0,40.753165,6743,12.865705,26287.0,50.155834,288.0,0.549507,...,0.001908,12.0,0.022896,1530.0,2.919254,545,1.039865,1617.0,3.085251,52410653
1,2,Arunachal Pradesh,30.0,2.168058,19,1.373103,30.0,2.168058,20.0,1.445372,...,0.000000,0.0,0.000000,34.0,2.457132,22,1.589909,54.0,3.902504,1383727
2,3,Assam,6895.0,22.095410,2429,7.783865,6281.0,20.127813,2.0,0.006409,...,0.000000,0.0,0.000000,43.0,0.137796,10,0.032046,35.0,0.112159,31205576
3,4,Bihar,5008.0,4.810784,2646,2.541800,3374.0,3.241131,608.0,0.584057,...,0.042267,58.0,0.055716,960.0,0.922195,528,0.507207,745.0,0.715662,104099452
4,5,Chhattisgarh,9108.0,35.654451,2458,9.622161,8710.0,34.096428,726.0,2.842021,...,0.027402,38.0,0.148756,1552.0,6.075506,555,2.172620,1421.0,5.562689,25545198

In [36]:
new_df14= df5.iloc[:,[5,11,17,23,29,35,41,47,53,59]]
new_df14.head()

,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people,Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people,Weather Condition-Number of Persons-Killed - 2014 per 1L people,Fault of Passenger-Number of Persons-Killed - 2014 per 1L people,Poor light-Number of Persons-Killed - 2014 per 1L people,Falling of boulders-Number of Persons-Killed - 2014 per 1L people,Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people
0,12.865705,0.143101,0.198433,0.049608,0.366338,0.036252,0.034344,0.145009,0.001908,1.039865
1,1.373103,1.011760,0.000000,0.578149,0.650417,0.939492,0.289074,1.517640,0.000000,1.589909
2,7.783865,0.003205,0.169841,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032046
3,2.541800,0.243997,0.138329,0.290107,0.242076,0.201730,0.146975,0.161384,0.042267,0.507207
4,9.622161,0.990401,0.160500,0.896450,0.555877,0.234878,0.254451,0.352317,0.027402,2.172620

In [37]:
total_sum = new_df14.sum(axis=1)
df5["Number of people KILLED"] = total_sum
df5.iloc[:,[1,5,11,17,23,29,35,41,47,53,59,-1]]

,States/UTs,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people,Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people,Weather Condition-Number of Persons-Killed - 2014 per 1L people,Fault of Passenger-Number of Persons-Killed - 2014 per 1L people,Poor light-Number of Persons-Killed - 2014 per 1L people,Falling of boulders-Number of Persons-Killed - 2014 per 1L people,Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people,Number of people KILLED
0,Andhra Pradesh,12.865705,0.143101,0.198433,0.049608,0.366338,0.036252,0.034344,0.145009,0.001908,1.039865,14.880563
1,Arunachal Pradesh,1.373103,1.011760,0.000000,0.578149,0.650417,0.939492,0.289074,1.517640,0.000000,1.589909,7.949545
2,Assam,7.783865,0.003205,0.169841,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032046,7.988957
3,Bihar,2.541800,0.243997,0.138329,0.290107,0.242076,0.201730,0.146975,0.161384,0.042267,0.507207,4.515874
4,Chhattisgarh,9.622161,0.990401,0.160500,0.896450,0.555877,0.234878,0.254451,0.352317,0.027402,2.172620,15.267057
5,Goa,16.934685,0.000000,1.988283,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.411369,19.334337
6,Gujarat,10.977885,0.281272,0.670089,0.099273,0.052945,0.071145,0.071145,0.072800,0.003309,0.620453,12.920317
7,Haryana,12.567323,0.828355,0.552236,0.422066,0.291896,0.295841,0.382621,0.311619,0.315564,1.128140,17.095661
8,Himachal Pradesh,16.723475,0.043702,0.000000,0.538997,0.160242,0.000000,0.000000,0.000000,0.000000,0.000000,17.466417
9,Jammu & Kashmir,4.473220,0.494367,0.279078,0.302999,0.087710,0.015947,0.000000,0.000000,0.000000,1.562836,7.216157
10,Jharkhand,4.104506,0.633561,0.585059,0.472897,0.415301,0.284951,0.081848,0.148538,0.045471,1.045831,7.817963
11,Karnataka,13.925785,1.060638,0.126033,0.184957,0.070382,0.330631,0.032736,0.085113,0.021278,1.054091,16.891644
12,Kerala,12.120555,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.120555
13,Madhya Pradesh,9.280320,0.476408,0.013769,0.509454,0.309803,0.114283,0.111529,0.075730,0.002754,0.824764,11.718813
14,Maharashtra,9.889269,0.472528,0.098777,0.087209,0.070301,0.036485,0.025807,0.042714,0.000000,0.612239,11.335329
15,Manipur,0.000000,0.000000,0.000000,0.945446,0.350165,0.525248,0.210099,0.070033,0.000000,3.781785,5.882777
16,Meghalaya,0.404464,0.505580,0.370759,0.741517,0.404464,0.303348,0.404464,0.303348,0.202232,1.044866,4.685042
17,Mizoram,8.567215,0.820265,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.387481
18,Nagaland,3.133684,0.657063,0.000000,0.303260,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.094006
19,Odisha,8.993616,0.038119,0.109591,0.021442,0.021442,0.026207,0.009530,0.007147,0.009530,0.042883,9.279506
20,Punjab,9.951939,0.702871,0.407305,0.385678,0.464976,0.836237,0.014418,0.299171,0.075694,2.818695,15.956984
21,Rajasthan,14.410248,0.000000,0.000000,0.052518,0.103576,0.016047,0.001459,0.045223,0.002918,0.345741,14.977730
22,Sikkim,5.240944,1.801575,0.000000,0.000000,0.000000,0.327559,0.000000,0.491339,0.000000,1.801575,9.662991
23,Tamil Nadu,19.855287,0.047126,0.381166,0.271667,0.037424,0.018019,0.363147,0.008316,0.000000,0.005544,20.987697
24,Telangana,16.608340,0.018602,0.155015,0.430943,0.601459,0.567356,0.074407,0.226322,0.607660,1.900488,21.190592
25,Tripura,4.001179,0.190532,0.326627,0.108876,0.000000,0.000000,0.000000,0.027219,0.000000,0.435502,5.089935
26,Uttarakhand,6.315502,0.803070,0.000000,0.158631,0.009914,0.000000,0.277604,0.000000,0.000000,1.140161,8.704884
27,Uttar Pradesh,2.025400,0.752706,0.250735,0.543010,0.734689,0.419394,0.842290,0.403879,0.146137,1.279200,7.397441
28,West Bengal,2.936146,0.673780,0.224593,0.383452,0.367018,0.436040,0.128182,0.101889,0.064639,0.903851,6.219590
29,Andaman & Nicobar Is.,6.043392,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.043392
30,Chandigarh,12.411767,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.411767
31,Dadra & Nagar Haveli,17.165684,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.165684
32,Daman & Diu,6.166571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.166571
33,Delhi,5.098898,0.077437,0.000000,0.041697,0.000000,0.000000,0.000000,0.053610,0.000000,4.681932,9.953573
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,Puducherry,12.099815,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.099815
36,Total,8.496311,0.437294,0.211008,0.293016,0.285996,0.210925,0.221166,0.148820,0.061444,0.900273,11.266254

Number of people KILLED for each different REASON per 1L population of that state.

In [38]:
#Number of people INJURED for each reason per 1L people of that state.
new_df15= df5.iloc[:,[7,13,19,25,31,37,43,49,55,61]]
new_df15.head()

,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people,Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people,Weather Condition-Number of Persons-Injured - 2014 per 1L people,Fault of Passenger-Number of Persons-Injured - 2014 per 1L people,Poor light-Number of Persons-Injured - 2014 per 1L people,Falling of boulders-Number of Persons-Injured - 2014 per 1L people,Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people
0,50.155834,0.810904,0.305281,0.162181,0.843340,0.133561,0.253765,0.591483,0.022896,3.085251
1,2.168058,3.252087,0.000000,1.589909,2.095789,1.806715,1.951252,2.384863,0.000000,3.902504
2,20.127813,0.003205,0.413388,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.112159
3,3.241131,0.379445,0.223824,0.341020,0.270895,0.293950,0.298753,0.219982,0.055716,0.715662
4,34.096428,2.603229,0.544134,1.914254,1.491474,0.806414,1.190048,1.706779,0.148756,5.562689

In [39]:
total_sum = new_df15.sum(axis=1)
df5["Number of people INJURED"] = total_sum
df5.iloc[:,[1,7,13,19,25,31,37,43,49,55,61,-1]]

,States/UTs,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people,Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people,Weather Condition-Number of Persons-Injured - 2014 per 1L people,Fault of Passenger-Number of Persons-Injured - 2014 per 1L people,Poor light-Number of Persons-Injured - 2014 per 1L people,Falling of boulders-Number of Persons-Injured - 2014 per 1L people,Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people,Number of people INJURED
0,Andhra Pradesh,50.155834,0.810904,0.305281,0.162181,0.843340,0.133561,0.253765,0.591483,0.022896,3.085251,56.364495
1,Arunachal Pradesh,2.168058,3.252087,0.000000,1.589909,2.095789,1.806715,1.951252,2.384863,0.000000,3.902504,19.151176
2,Assam,20.127813,0.003205,0.413388,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.112159,20.656565
3,Bihar,3.241131,0.379445,0.223824,0.341020,0.270895,0.293950,0.298753,0.219982,0.055716,0.715662,6.040378
4,Chhattisgarh,34.096428,2.603229,0.544134,1.914254,1.491474,0.806414,1.190048,1.706779,0.148756,5.562689,50.064204
5,Goa,113.126438,0.000000,5.896287,0.891299,0.000000,0.000000,0.000000,0.000000,0.000000,5.690603,125.604627
6,Gujarat,30.205316,0.853744,2.169104,0.271345,0.177036,0.398745,0.226672,0.248181,0.000000,1.542033,36.092176
7,Haryana,30.108717,0.796798,0.761297,0.378676,0.220895,0.268229,0.315564,0.323453,0.220895,1.242532,34.637056
8,Himachal Pradesh,77.586435,0.437025,0.000000,2.272528,0.917752,0.000000,0.000000,0.000000,0.000000,0.000000,81.213740
9,Jammu & Kashmir,32.596297,7.471314,1.060496,1.538915,1.020628,0.287052,0.000000,0.000000,0.000000,13.563185,57.537886
10,Jharkhand,7.175307,0.682063,0.733597,0.666906,0.700252,0.697220,0.139444,0.227354,0.072753,1.915840,13.010739
11,Karnataka,74.694784,7.347538,1.419095,1.325798,0.299532,0.502494,0.473032,0.530319,0.065471,5.049489,91.707550
12,Kerala,123.019592,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,123.019592
13,Madhya Pradesh,60.707610,3.084261,0.136313,2.326964,1.840918,0.616852,0.691205,0.503946,0.023407,5.643921,75.575398
14,Maharashtra,30.517645,1.945284,0.238489,0.404897,0.288322,0.081869,0.061402,0.126363,0.056953,2.115252,35.836475
15,Manipur,0.000000,0.000000,0.000000,7.738653,4.482116,4.447099,3.501653,2.206041,0.035017,22.340547,44.751127
16,Meghalaya,0.269643,0.572991,0.606696,1.381919,0.438169,0.471875,0.539285,0.438169,0.134821,5.493970,10.347539
17,Mizoram,20.233211,1.093687,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.326898
18,Nagaland,7.935297,2.577708,0.000000,1.111952,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.624957
19,Odisha,25.560929,0.147710,0.185828,0.083385,0.054796,0.021442,0.016677,0.023824,0.021442,0.069090,26.185122
20,Punjab,9.288716,0.717289,0.079298,0.306380,0.623573,0.598342,0.036045,0.245104,0.162201,2.292442,14.349391
21,Rajasthan,38.084019,0.000000,0.000000,0.110871,0.297600,0.037929,0.004376,0.142965,0.001459,1.321693,40.000912
22,Sikkim,29.644091,3.766929,0.000000,0.000000,0.000000,2.620472,1.637795,4.749606,0.000000,15.231494,57.650386
23,Tamil Nadu,103.506686,0.119201,1.137954,0.712434,0.228700,0.077619,1.675745,0.008316,0.000000,0.013861,107.480516
24,Telangana,44.278571,0.124012,1.382737,1.987296,3.797875,2.852282,0.542554,1.171916,3.267723,6.888880,66.293845
25,Tripura,26.429557,1.388164,0.680473,0.871005,0.000000,0.000000,0.000000,0.299408,0.000000,3.538458,33.207065
26,Uttarakhand,9.329494,1.328536,0.000000,0.178460,0.000000,0.000000,0.694011,0.000000,0.019829,3.628687,15.179017
27,Uttar Pradesh,2.796624,0.942885,0.369347,0.739194,0.793244,0.593056,1.212638,0.688646,0.231717,1.620020,9.987371
28,West Bengal,6.241501,1.350846,0.353871,0.591612,0.456856,1.017791,0.197204,0.213637,0.109558,2.194440,12.727316
29,Andaman & Nicobar Is.,74.359992,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.359992
30,Chandigarh,31.740016,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.740016
31,Dadra & Nagar Haveli,27.930604,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.930604
32,Daman & Diu,20.144133,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.144133
33,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
34,Lakshadweep,1.551037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.551037
35,Puducherry,106.013608,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,106.013608
36,Total,32.484485,1.333603,0.522854,0.697854,0.619067,0.452325,0.503859,0.362884,0.164182,2.273518,39.414629

Number of people INJURED for each reason per 1L people of that state.

In [40]:
#Number of ACCIDENTS for each reason per 1L people of that state.
new_df16= df5.iloc[:,[3,9,15,21,27,33,39,45,51,57]]
new_df16.head()

,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people,Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people,Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people,Weather Condition-Total No. of Road Accidents - 2014 per 1L people,Fault of Passenger-Total No. of Road Accidents - 2014 per 1L people,Poor light-Total No. of Road Accidents - 2014 per 1L people,Falling of boulders-Total No. of Road Accidents - 2014 per 1L people,Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people
0,40.753165,0.549507,0.446474,0.127837,0.543783,0.114481,0.129745,0.364430,0.011448,2.919254
1,2.168058,1.445372,0.000000,1.228566,1.084029,1.662178,0.794954,2.457132,0.000000,2.457132
2,22.095410,0.006409,0.461456,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.137796
3,4.810784,0.584057,0.274737,0.519695,0.428436,0.392894,0.377524,0.316044,0.078771,0.922195
4,35.654451,2.842021,0.571536,2.630631,1.722437,0.829902,1.119584,1.377950,0.101780,6.075506

In [41]:
total_sum = new_df16.sum(axis=1)
df5["Number of ACCIDENTS"] = total_sum
df5.iloc[:,[1,3,9,15,21,27,33,39,45,51,57,-1]]

,States/UTs,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people,Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people,Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people,Weather Condition-Total No. of Road Accidents - 2014 per 1L people,Fault of Passenger-Total No. of Road Accidents - 2014 per 1L people,Poor light-Total No. of Road Accidents - 2014 per 1L people,Falling of boulders-Total No. of Road Accidents - 2014 per 1L people,Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people,Number of ACCIDENTS
0,Andhra Pradesh,40.753165,0.549507,0.446474,0.127837,0.543783,0.114481,0.129745,0.364430,0.011448,2.919254,45.960122
1,Arunachal Pradesh,2.168058,1.445372,0.000000,1.228566,1.084029,1.662178,0.794954,2.457132,0.000000,2.457132,13.297421
2,Assam,22.095410,0.006409,0.461456,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.137796,22.701071
3,Bihar,4.810784,0.584057,0.274737,0.519695,0.428436,0.392894,0.377524,0.316044,0.078771,0.922195,8.705137
4,Chhattisgarh,35.654451,2.842021,0.571536,2.630631,1.722437,0.829902,1.119584,1.377950,0.101780,6.075506,52.925798
5,Goa,260.190807,0.000000,11.998259,1.165545,0.068561,0.068561,0.000000,0.205684,0.000000,9.804291,283.501709
6,Gujarat,31.345295,0.744544,2.501667,0.266381,0.335872,0.320981,0.221709,0.254799,0.004964,2.197232,38.193444
7,Haryana,32.376831,1.798713,1.372702,0.650850,0.556181,0.500957,0.607460,0.520680,0.512791,2.070886,40.968051
8,Himachal Pradesh,42.770142,0.320485,0.000000,1.077994,0.364187,0.000000,0.000000,0.000000,0.000000,0.000000,44.532808
9,Jammu & Kashmir,28.816785,3.029988,1.778125,2.719016,0.901023,0.159473,0.000000,0.000000,0.000000,7.016815,44.421225
10,Jharkhand,8.975955,1.085239,0.924575,0.863947,0.676001,0.615373,0.163695,0.239480,0.072753,1.912809,15.529827
11,Karnataka,57.956998,4.998748,0.548324,1.024629,0.291348,1.111379,0.225877,0.404286,0.068745,3.903737,70.534071
12,Kerala,108.609034,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,108.609034
13,Madhya Pradesh,56.831631,3.049838,0.209289,2.291165,1.991000,0.742150,0.722874,0.574168,0.097760,5.966116,72.475992
14,Maharashtra,42.925283,6.469449,0.297221,0.442272,0.339045,0.090768,0.084539,0.133482,0.063182,3.834506,54.679746
15,Manipur,0.000000,0.000000,0.000000,4.622182,2.836339,3.851818,1.645777,1.050496,0.035017,11.555455,25.597084
16,Meghalaya,0.842633,1.348214,1.011160,2.527900,1.011160,0.943749,1.112276,1.348214,0.404464,7.482585,18.032356
17,Mizoram,10.390027,1.640531,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.030558
18,Nagaland,10.664634,3.689660,0.000000,1.061409,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.415703
19,Odisha,22.039720,0.131033,0.214417,0.066708,0.061943,0.026207,0.030971,0.033354,0.019059,0.090532,22.713943
20,Punjab,13.873601,1.056109,0.443350,0.609155,0.684849,1.120990,0.100925,0.403701,0.183828,3.712603,22.189111
21,Rajasthan,34.482187,0.000000,0.000000,0.107953,0.248000,0.033553,0.005835,0.096282,0.004376,0.904470,35.882656
22,Sikkim,20.144879,2.456693,0.000000,0.000000,0.000000,1.637795,0.655118,1.801575,0.000000,6.551180,33.247240
23,Tamil Nadu,89.174842,0.158011,1.307053,0.719364,0.163555,0.049898,1.449817,0.029107,0.000000,0.038810,93.090457
24,Telangana,50.671402,0.055806,1.454044,1.078907,1.531551,1.047903,0.192219,0.458845,1.751673,3.469242,61.711592
25,Tripura,15.297025,0.626035,0.680473,0.544378,0.000000,0.000000,0.000000,0.081657,0.000000,2.123075,19.352642
26,Uttarakhand,10.301110,1.447509,0.000000,0.347006,0.009914,0.000000,0.505637,0.000000,0.009914,1.358279,13.979369
27,Uttar Pradesh,3.834098,1.369785,0.486456,1.030467,1.360777,0.791743,1.687083,0.738193,0.232718,2.552895,14.084215
28,West Bengal,6.520874,1.637887,0.377974,0.645295,0.690213,1.033129,0.223498,0.221307,0.112844,2.264557,13.727578
29,Andaman & Nicobar Is.,57.280842,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,57.280842
30,Chandigarh,34.961391,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.961391
31,Dadra & Nagar Haveli,25.312110,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.312110
32,Daman & Diu,16.033086,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.033086
33,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
34,Lakshadweep,1.551037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.551037
35,Puducherry,89.025789,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,89.025789
36,Total,31.299537,1.724071,0.593878,0.759463,0.690091,0.492297,0.555062,0.347688,0.137424,2.433239,39.032750

Number of ACCIDENTS for each reason per 1L people of that state.

In [42]:
#Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to FAULT OF THE DRIVER per 1L population of that state.
new_df17= df5.iloc[:,[3,5,7]]
new_df17.head()

,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver-Number of Persons-Injured - 2014 per 1L people
0,40.753165,12.865705,50.155834
1,2.168058,1.373103,2.168058
2,22.095410,7.783865,20.127813
3,4.810784,2.541800,3.241131
4,35.654451,9.622161,34.096428

In [43]:
total_sum = new_df17.sum(axis=1)
df5["Total Number"] = total_sum
df5.iloc[:,[1,3,5,7,-1]]

,States/UTs,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Total Number
0,Andhra Pradesh,40.753165,12.865705,50.155834,103.774704
1,Arunachal Pradesh,2.168058,1.373103,2.168058,5.709219
2,Assam,22.095410,7.783865,20.127813,50.007088
3,Bihar,4.810784,2.541800,3.241131,10.593716
4,Chhattisgarh,35.654451,9.622161,34.096428,79.373039
5,Goa,260.190807,16.934685,113.126438,390.251929
6,Gujarat,31.345295,10.977885,30.205316,72.528497
7,Haryana,32.376831,12.567323,30.108717,75.052871
8,Himachal Pradesh,42.770142,16.723475,77.586435,137.080052
9,Jammu & Kashmir,28.816785,4.473220,32.596297,65.886301
10,Jharkhand,8.975955,4.104506,7.175307,20.255768
11,Karnataka,57.956998,13.925785,74.694784,146.577567
12,Kerala,108.609034,12.120555,123.019592,243.749181
13,Madhya Pradesh,56.831631,9.280320,60.707610,126.819561
14,Maharashtra,42.925283,9.889269,30.517645,83.332197
15,Manipur,0.000000,0.000000,0.000000,0.000000
16,Meghalaya,0.842633,0.404464,0.269643,1.516740
17,Mizoram,10.390027,8.567215,20.233211,39.190453
18,Nagaland,10.664634,3.133684,7.935297,21.733615
19,Odisha,22.039720,8.993616,25.560929,56.594265
20,Punjab,13.873601,9.951939,9.288716,33.114256
21,Rajasthan,34.482187,14.410248,38.084019,86.976454
22,Sikkim,20.144879,5.240944,29.644091,55.029914
23,Tamil Nadu,89.174842,19.855287,103.506686,212.536815
24,Telangana,50.671402,16.608340,44.278571,111.558313
25,Tripura,15.297025,4.001179,26.429557,45.727761
26,Uttarakhand,10.301110,6.315502,9.329494,25.946106
27,Uttar Pradesh,3.834098,2.025400,2.796624,8.656122
28,West Bengal,6.520874,2.936146,6.241501,15.698521
29,Andaman & Nicobar Is.,57.280842,6.043392,74.359992,137.684225
30,Chandigarh,34.961391,12.411767,31.740016,79.113174
31,Dadra & Nagar Haveli,25.312110,17.165684,27.930604,70.408398
32,Daman & Diu,16.033086,6.166571,20.144133,42.343790
33,Delhi,NaN,5.098898,NaN,5.098898
34,Lakshadweep,1.551037,0.000000,1.551037,3.102074
35,Puducherry,89.025789,12.099815,106.013608,207.139211
36,Total,31.299537,8.496311,32.484485,72.280332

Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to FAULT OF THE DRIVER per 1L population of that state.

In [44]:
#Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF DRIVER'S FROM OTHER VEHICLES per 1L people of that state.
new_df18= df5.iloc[:,[9,11,13]]
new_df18.head()

,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people
0,0.549507,0.143101,0.810904
1,1.445372,1.011760,3.252087
2,0.006409,0.003205,0.003205
3,0.584057,0.243997,0.379445
4,2.842021,0.990401,2.603229

In [45]:
total_sum = new_df18.sum(axis=1)
df5["Total Number"] = total_sum
df5.iloc[:,[1,9,11,13,-1]]

,States/UTs,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people,Total Number
0,Andhra Pradesh,0.549507,0.143101,0.810904,1.503511
1,Arunachal Pradesh,1.445372,1.011760,3.252087,5.709219
2,Assam,0.006409,0.003205,0.003205,0.012818
3,Bihar,0.584057,0.243997,0.379445,1.207499
4,Chhattisgarh,2.842021,0.990401,2.603229,6.435652
5,Goa,0.000000,0.000000,0.000000,0.000000
6,Gujarat,0.744544,0.281272,0.853744,1.879560
7,Haryana,1.798713,0.828355,0.796798,3.423866
8,Himachal Pradesh,0.320485,0.043702,0.437025,0.801212
9,Jammu & Kashmir,3.029988,0.494367,7.471314,10.995669
10,Jharkhand,1.085239,0.633561,0.682063,2.400863
11,Karnataka,4.998748,1.060638,7.347538,13.406924
12,Kerala,0.000000,0.000000,0.000000,0.000000
13,Madhya Pradesh,3.049838,0.476408,3.084261,6.610507
14,Maharashtra,6.469449,0.472528,1.945284,8.887261
15,Manipur,0.000000,0.000000,0.000000,0.000000
16,Meghalaya,1.348214,0.505580,0.572991,2.426784
17,Mizoram,1.640531,0.820265,1.093687,3.554483
18,Nagaland,3.689660,0.657063,2.577708,6.924431
19,Odisha,0.131033,0.038119,0.147710,0.316861
20,Punjab,1.056109,0.702871,0.717289,2.476270
21,Rajasthan,0.000000,0.000000,0.000000,0.000000
22,Sikkim,2.456693,1.801575,3.766929,8.025196
23,Tamil Nadu,0.158011,0.047126,0.119201,0.324338
24,Telangana,0.055806,0.018602,0.124012,0.198420
25,Tripura,0.626035,0.190532,1.388164,2.204731
26,Uttarakhand,1.447509,0.803070,1.328536,3.579115
27,Uttar Pradesh,1.369785,0.752706,0.942885,3.065376
28,West Bengal,1.637887,0.673780,1.350846,3.662513
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000,0.000000
33,Delhi,NaN,0.077437,NaN,0.077437
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000,0.000000
36,Total,1.724071,0.437294,1.333603,3.494968

Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF DRIVER'S FROM OTHER VEHICLES per 1L people of that state.

In [46]:
#Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF PEDESTRIANS per 1L people of that state.
new_df19= df5.iloc[:,[15,17,19]]
new_df19.head()

,Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people
0,0.446474,0.198433,0.305281
1,0.000000,0.000000,0.000000
2,0.461456,0.169841,0.413388
3,0.274737,0.138329,0.223824
4,0.571536,0.160500,0.544134

In [47]:
total_sum = new_df19.sum(axis=1)
df5["Total Number"] = total_sum
df5.iloc[:,[1,15,17,19,-1]]

,States/UTs,Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people,Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people,Total Number
0,Andhra Pradesh,0.446474,0.198433,0.305281,0.950189
1,Arunachal Pradesh,0.000000,0.000000,0.000000,0.000000
2,Assam,0.461456,0.169841,0.413388,1.044685
3,Bihar,0.274737,0.138329,0.223824,0.636891
4,Chhattisgarh,0.571536,0.160500,0.544134,1.276169
5,Goa,11.998259,1.988283,5.896287,19.882828
6,Gujarat,2.501667,0.670089,2.169104,5.340861
7,Haryana,1.372702,0.552236,0.761297,2.686236
8,Himachal Pradesh,0.000000,0.000000,0.000000,0.000000
9,Jammu & Kashmir,1.778125,0.279078,1.060496,3.117699
10,Jharkhand,0.924575,0.585059,0.733597,2.243231
11,Karnataka,0.548324,0.126033,1.419095,2.093451
12,Kerala,0.000000,0.000000,0.000000,0.000000
13,Madhya Pradesh,0.209289,0.013769,0.136313,0.359371
14,Maharashtra,0.297221,0.098777,0.238489,0.634487
15,Manipur,0.000000,0.000000,0.000000,0.000000
16,Meghalaya,1.011160,0.370759,0.606696,1.988615
17,Mizoram,0.000000,0.000000,0.000000,0.000000
18,Nagaland,0.000000,0.000000,0.000000,0.000000
19,Odisha,0.214417,0.109591,0.185828,0.509837
20,Punjab,0.443350,0.407305,0.079298,0.929953
21,Rajasthan,0.000000,0.000000,0.000000,0.000000
22,Sikkim,0.000000,0.000000,0.000000,0.000000
23,Tamil Nadu,1.307053,0.381166,1.137954,2.826173
24,Telangana,1.454044,0.155015,1.382737,2.991795
25,Tripura,0.680473,0.326627,0.680473,1.687572
26,Uttarakhand,0.000000,0.000000,0.000000,0.000000
27,Uttar Pradesh,0.486456,0.250735,0.369347,1.106538
28,West Bengal,0.377974,0.224593,0.353871,0.956439
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000,0.000000
33,Delhi,NaN,0.000000,NaN,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000,0.000000
36,Total,0.593878,0.211008,0.522854,1.327740

Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF PEDESTRIANS per 1L people of that state.

In [48]:
#Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the DEFECTS IN THE VEHICLE per 1L people of that state.
new_df20= df5.iloc[:,[21,23,25]]
new_df20.head()

,Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people
0,0.127837,0.049608,0.162181
1,1.228566,0.578149,1.589909
2,0.000000,0.000000,0.000000
3,0.519695,0.290107,0.341020
4,2.630631,0.896450,1.914254

In [49]:
total_sum = new_df20.sum(axis=1)
df5["Total Number"] = total_sum
df5.iloc[:,[1,21,23,25,-1]]

,States/UTs,Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people,Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people,Total Number
0,Andhra Pradesh,0.127837,0.049608,0.162181,0.339626
1,Arunachal Pradesh,1.228566,0.578149,1.589909,3.396624
2,Assam,0.000000,0.000000,0.000000,0.000000
3,Bihar,0.519695,0.290107,0.341020,1.150823
4,Chhattisgarh,2.630631,0.896450,1.914254,5.441336
5,Goa,1.165545,0.000000,0.891299,2.056844
6,Gujarat,0.266381,0.099273,0.271345,0.636999
7,Haryana,0.650850,0.422066,0.378676,1.451593
8,Himachal Pradesh,1.077994,0.538997,2.272528,3.889519
9,Jammu & Kashmir,2.719016,0.302999,1.538915,4.560930
10,Jharkhand,0.863947,0.472897,0.666906,2.003751
11,Karnataka,1.024629,0.184957,1.325798,2.535383
12,Kerala,0.000000,0.000000,0.000000,0.000000
13,Madhya Pradesh,2.291165,0.509454,2.326964,5.127583
14,Maharashtra,0.442272,0.087209,0.404897,0.934377
15,Manipur,4.622182,0.945446,7.738653,13.306282
16,Meghalaya,2.527900,0.741517,1.381919,4.651337
17,Mizoram,0.000000,0.000000,0.000000,0.000000
18,Nagaland,1.061409,0.303260,1.111952,2.476621
19,Odisha,0.066708,0.021442,0.083385,0.171534
20,Punjab,0.609155,0.385678,0.306380,1.301213
21,Rajasthan,0.107953,0.052518,0.110871,0.271341
22,Sikkim,0.000000,0.000000,0.000000,0.000000
23,Tamil Nadu,0.719364,0.271667,0.712434,1.703466
24,Telangana,1.078907,0.430943,1.987296,3.497145
25,Tripura,0.544378,0.108876,0.871005,1.524259
26,Uttarakhand,0.347006,0.158631,0.178460,0.684097
27,Uttar Pradesh,1.030467,0.543010,0.739194,2.312670
28,West Bengal,0.645295,0.383452,0.591612,1.620358
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000,0.000000
33,Delhi,NaN,0.041697,NaN,0.041697
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000,0.000000
36,Total,0.759463,0.293016,0.697854,1.750333

Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the DEFECTS IN THE VEHICLE per 1L people of that state.

In [50]:
#Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to DEFECTS IN THE ROAD CONDITION per 1L people of that state.
new_df21= df5.iloc[:,[27,29,31]]
new_df21.head()

,Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people,Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people,Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people
0,0.543783,0.366338,0.843340
1,1.084029,0.650417,2.095789
2,0.000000,0.000000,0.000000
3,0.428436,0.242076,0.270895
4,1.722437,0.555877,1.491474

In [51]:
total_sum = new_df21.sum(axis=1)
df5["Total Number"] = total_sum
df5.iloc[:,[1,27,29,31,-1]]

,States/UTs,Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people,Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people,Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people,Total Number
0,Andhra Pradesh,0.543783,0.366338,0.843340,1.753460
1,Arunachal Pradesh,1.084029,0.650417,2.095789,3.830235
2,Assam,0.000000,0.000000,0.000000,0.000000
3,Bihar,0.428436,0.242076,0.270895,0.941407
4,Chhattisgarh,1.722437,0.555877,1.491474,3.769789
5,Goa,0.068561,0.000000,0.000000,0.068561
6,Gujarat,0.335872,0.052945,0.177036,0.565853
7,Haryana,0.556181,0.291896,0.220895,1.068972
8,Himachal Pradesh,0.364187,0.160242,0.917752,1.442181
9,Jammu & Kashmir,0.901023,0.087710,1.020628,2.009361
10,Jharkhand,0.676001,0.415301,0.700252,1.791553
11,Karnataka,0.291348,0.070382,0.299532,0.661262
12,Kerala,0.000000,0.000000,0.000000,0.000000
13,Madhya Pradesh,1.991000,0.309803,1.840918,4.141721
14,Maharashtra,0.339045,0.070301,0.288322,0.697668
15,Manipur,2.836339,0.350165,4.482116,7.668620
16,Meghalaya,1.011160,0.404464,0.438169,1.853794
17,Mizoram,0.000000,0.000000,0.000000,0.000000
18,Nagaland,0.000000,0.000000,0.000000,0.000000
19,Odisha,0.061943,0.021442,0.054796,0.138180
20,Punjab,0.684849,0.464976,0.623573,1.773399
21,Rajasthan,0.248000,0.103576,0.297600,0.649176
22,Sikkim,0.000000,0.000000,0.000000,0.000000
23,Tamil Nadu,0.163555,0.037424,0.228700,0.429678
24,Telangana,1.531551,0.601459,3.797875,5.930885
25,Tripura,0.000000,0.000000,0.000000,0.000000
26,Uttarakhand,0.009914,0.009914,0.000000,0.019829
27,Uttar Pradesh,1.360777,0.734689,0.793244,2.888710
28,West Bengal,0.690213,0.367018,0.456856,1.514087
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000,0.000000
33,Delhi,NaN,0.000000,NaN,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000,0.000000
36,Total,0.690091,0.285996,0.619067,1.595154

Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to DEFECTS IN THE ROAD CONDITION per 1L people of that state.

In [52]:
#Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to WEATHER CONDITION per 1L people of that state.
new_df22= df5.iloc[:,[33,35,37]]
new_df22.head()

,Weather Condition-Total No. of Road Accidents - 2014 per 1L people,Weather Condition-Number of Persons-Killed - 2014 per 1L people,Weather Condition-Number of Persons-Injured - 2014 per 1L people
0,0.114481,0.036252,0.133561
1,1.662178,0.939492,1.806715
2,0.000000,0.000000,0.000000
3,0.392894,0.201730,0.293950
4,0.829902,0.234878,0.806414

In [53]:
total_sum = new_df22.sum(axis=1)
df5["Total Number"] = total_sum
df5.iloc[:,[1,33,35,37,-1]]

,States/UTs,Weather Condition-Total No. of Road Accidents - 2014 per 1L people,Weather Condition-Number of Persons-Killed - 2014 per 1L people,Weather Condition-Number of Persons-Injured - 2014 per 1L people,Total Number
0,Andhra Pradesh,0.114481,0.036252,0.133561,0.284293
1,Arunachal Pradesh,1.662178,0.939492,1.806715,4.408384
2,Assam,0.000000,0.000000,0.000000,0.000000
3,Bihar,0.392894,0.201730,0.293950,0.888573
4,Chhattisgarh,0.829902,0.234878,0.806414,1.871193
5,Goa,0.068561,0.000000,0.000000,0.068561
6,Gujarat,0.320981,0.071145,0.398745,0.790871
7,Haryana,0.500957,0.295841,0.268229,1.065027
8,Himachal Pradesh,0.000000,0.000000,0.000000,0.000000
9,Jammu & Kashmir,0.159473,0.015947,0.287052,0.462472
10,Jharkhand,0.615373,0.284951,0.697220,1.597544
11,Karnataka,1.111379,0.330631,0.502494,1.944503
12,Kerala,0.000000,0.000000,0.000000,0.000000
13,Madhya Pradesh,0.742150,0.114283,0.616852,1.473285
14,Maharashtra,0.090768,0.036485,0.081869,0.209122
15,Manipur,3.851818,0.525248,4.447099,8.824166
16,Meghalaya,0.943749,0.303348,0.471875,1.718972
17,Mizoram,0.000000,0.000000,0.000000,0.000000
18,Nagaland,0.000000,0.000000,0.000000,0.000000
19,Odisha,0.026207,0.026207,0.021442,0.073855
20,Punjab,1.120990,0.836237,0.598342,2.555568
21,Rajasthan,0.033553,0.016047,0.037929,0.087529
22,Sikkim,1.637795,0.327559,2.620472,4.585826
23,Tamil Nadu,0.049898,0.018019,0.077619,0.145536
24,Telangana,1.047903,0.567356,2.852282,4.467541
25,Tripura,0.000000,0.000000,0.000000,0.000000
26,Uttarakhand,0.000000,0.000000,0.000000,0.000000
27,Uttar Pradesh,0.791743,0.419394,0.593056,1.804193
28,West Bengal,1.033129,0.436040,1.017791,2.486959
29,Andaman & Nicobar Is.,0.000000,0.000000,0.000000,0.000000
30,Chandigarh,0.000000,0.000000,0.000000,0.000000
31,Dadra & Nagar Haveli,0.000000,0.000000,0.000000,0.000000
32,Daman & Diu,0.000000,0.000000,0.000000,0.000000
33,Delhi,NaN,0.000000,NaN,0.000000
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000
35,Puducherry,0.000000,0.000000,0.000000,0.000000
36,Total,0.492297,0.210925,0.452325,1.155547

Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to WEATHER CONDITION per 1L people of that state.

In [54]:
#Number of Total Accidents for each vehicle type per 1L people of that state.
df6.head()

,Sl. No.,States/UTs,Two-Wheelers - Number of Road Accidents - Fatal - 2014,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,...,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,1961,3.741606,7239,13.812077,2003,3.821742,7333,13.991430,...,2.520480,466,0.889132,1279,2.440344,884,1.686680,1289,2.459424,52410653
1,2,Arunachal Pradesh,15,1.084029,34,2.457132,21,1.517640,30,2.168058,...,0.000000,27,1.951252,55,3.974772,33,2.384863,58,4.191578,1383727
2,3,Assam,489,1.567028,1508,4.832470,537,1.720846,1342,4.300513,...,2.868077,73,0.233933,249,0.797934,93,0.298024,218,0.698593,31205576
3,4,Bihar,769,0.738717,1750,1.681085,820,0.787708,1131,1.086461,...,0.425555,614,0.589821,1577,1.514898,690,0.662828,1165,1.119122,104099452
4,5,Chhattisgarh,1074,4.204313,4787,18.739334,1126,4.407873,4295,16.813336,...,4.662324,142,0.555877,515,2.016034,154,0.602853,438,1.714608,25545198

In [55]:
new_df23= df6.iloc[:,5::8]
new_df23.head()

,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people,"Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people",Buses - Number of Road Accidents - Total - 2014 per 1L people,"Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people",Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people
0,13.812077,8.475376,7.351559,3.304672,8.250231,2.997482,2.440344
1,2.457132,1.228566,3.035281,1.084029,3.035281,0.000000,3.974772
2,4.832470,0.935730,5.165743,2.012461,5.659245,3.489761,0.797934
3,1.681085,0.340059,1.431324,0.923156,2.716633,0.572529,1.514898
4,18.739334,1.217450,11.657768,2.642375,11.379830,6.451310,2.016034

In [56]:
total_sum = new_df23.sum(axis=1)
df6["Total"] = total_sum
df6.iloc[:,[1,5,13,21,29,37,45,53,-1]]

,States/UTs,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people,"Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people",Buses - Number of Road Accidents - Total - 2014 per 1L people,"Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people",Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Total
0,Andhra Pradesh,13.812077,8.475376,7.351559,3.304672,8.250231,2.997482,2.440344,46.631741
1,Arunachal Pradesh,2.457132,1.228566,3.035281,1.084029,3.035281,0.000000,3.974772,14.815061
2,Assam,4.832470,0.935730,5.165743,2.012461,5.659245,3.489761,0.797934,22.893344
3,Bihar,1.681085,0.340059,1.431324,0.923156,2.716633,0.572529,1.514898,9.179683
4,Chhattisgarh,18.739334,1.217450,11.657768,2.642375,11.379830,6.451310,2.016034,54.104102
5,Goa,130.746737,2.331090,94.203470,24.270763,21.596865,0.205684,16.591878,289.946488
6,Gujarat,9.202562,3.616828,7.304802,1.927541,9.030489,2.916957,5.233316,39.232496
7,Haryana,4.461281,1.597541,10.441212,2.540287,11.573297,5.013518,6.484833,42.111970
8,Himachal Pradesh,11.857934,11.610287,9.672811,5.958102,5.433673,0.000000,0.014567,44.547375
9,Jammu & Kashmir,8.778993,0.510314,5.780899,12.678109,10.876064,7.582945,0.526261,46.733585
10,Jharkhand,3.607358,0.760880,2.352361,1.794585,4.774444,1.133741,1.342907,15.766275
11,Karnataka,17.598736,4.276925,12.539427,6.299994,13.483853,9.067801,8.282143,71.548879
12,Kerala,36.259887,15.078102,26.097061,14.497369,11.776306,4.900308,0.000000,108.609034
13,Madhya Pradesh,27.108447,2.815765,15.516309,4.627768,15.480509,7.001547,1.075360,73.625705
14,Maharashtra,12.537561,2.959751,16.372066,3.923494,9.647221,6.367112,3.033611,54.840815
15,Manipur,7.038323,1.470694,6.232943,1.330628,4.447099,5.497595,0.000000,26.017283
16,Meghalaya,1.516740,0.910044,3.707587,1.752678,2.595311,5.628792,2.157142,18.268294
17,Mizoram,2.916499,0.182281,2.460796,0.455703,3.919045,2.096234,0.000000,12.030558
18,Nagaland,2.830424,2.931511,3.790747,1.061409,0.859236,3.942377,0.000000,15.415703
19,Odisha,6.282428,1.369889,3.721332,1.824930,6.439667,2.401474,0.945819,22.985538
20,Punjab,5.759941,0.666827,6.217709,2.014898,4.988585,2.083383,1.304818,23.036161
21,Rajasthan,8.687288,0.716282,10.048369,2.655057,9.314581,4.484420,0.021882,35.927880
22,Sikkim,5.077165,0.000000,20.144879,0.000000,0.000000,7.861416,0.163780,33.247240
23,Tamil Nadu,33.276491,4.033430,25.802864,9.664986,12.417698,2.885774,5.131188,93.212430
24,Telangana,14.249007,7.958486,11.176603,4.517146,13.904873,5.747967,4.693863,62.247945
25,Tripura,3.865085,2.449702,3.756209,0.734910,3.484020,3.892304,1.306507,19.488736
26,Uttarakhand,2.290237,0.138802,4.352442,1.447509,4.550731,0.892300,0.307348,13.979369
27,Uttar Pradesh,2.451801,0.738693,3.172477,1.165093,4.193935,1.812200,1.997374,15.531573
28,West Bengal,3.849857,0.279372,1.605020,1.382618,3.768784,2.128706,1.091195,14.105552
29,Andaman & Nicobar Islands,24.173566,6.831660,15.239857,5.517879,3.415830,2.102049,0.000000,57.280842
30,Chandigarh,5.779525,0.852717,18.475532,3.316121,3.316121,3.221375,0.000000,34.961391
31,Dadra & Nagar Haveli,5.236988,1.163775,2.909438,1.454719,10.183033,4.073213,0.290944,25.312110
32,Daman & Diu,5.755467,0.411105,2.466629,0.411105,3.288838,3.699943,0.000000,16.033086
33,Delhi,7.773437,1.358118,16.714378,3.162985,7.308818,1.888260,13.158254,51.364250
34,Lakshadweep,1.551037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.551037
35,Puducherry,42.709942,3.044986,18.510312,7.291941,13.462045,4.006561,0.000000,89.025789
36,Total,11.036334,2.574379,9.185080,3.416181,7.946038,3.632227,2.627482,40.417722

Number of Total Accidents for each vehicle type per 1L people of that state.

In [57]:
#Number of Persons Killed for each vehicle type per 1L people of that state.
new_df24= df6.iloc[:,7::8]
new_df24.head()

,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people,"Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people",Buses - Number of Persons - Killed - 2014 per 1L people,"Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people",Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people
0,3.821742,1.864125,1.738196,1.081841,3.354280,1.541671,1.686680
1,1.517640,0.505880,1.806715,0.505880,1.878983,0.000000,2.384863
2,1.720846,0.240342,1.708028,0.788321,2.041302,1.285027,0.298024
3,0.787708,0.138329,0.755047,0.521617,1.574456,0.279540,0.662828
4,4.407873,0.144841,2.536680,0.739865,4.235630,3.076899,0.602853

In [58]:
total_sum = new_df24.sum(axis=1)
df6["Number of Persons Killed"] = total_sum
df6.iloc[:,[1,7,15,23,31,39,47,55,-1]]

,States/UTs,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people,"Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people",Buses - Number of Persons - Killed - 2014 per 1L people,"Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people",Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Number of Persons Killed
0,Andhra Pradesh,3.821742,1.864125,1.738196,1.081841,3.354280,1.541671,1.686680,15.088536
1,Arunachal Pradesh,1.517640,0.505880,1.806715,0.505880,1.878983,0.000000,2.384863,8.599962
2,Assam,1.720846,0.240342,1.708028,0.788321,2.041302,1.285027,0.298024,8.081889
3,Bihar,0.787708,0.138329,0.755047,0.521617,1.574456,0.279540,0.662828,4.719525
4,Chhattisgarh,4.407873,0.144841,2.536680,0.739865,4.235630,3.076899,0.602853,15.744642
5,Goa,9.187238,0.137123,4.319373,1.576914,2.262529,0.000000,2.399652,19.882828
6,Gujarat,2.794521,0.986107,2.265068,0.724689,3.443102,1.312052,1.636342,13.161880
7,Haryana,1.254366,0.710018,3.901156,1.301700,5.336970,2.386450,2.792738,17.683398
8,Himachal Pradesh,2.461905,4.413949,6.467964,1.835503,2.287095,0.000000,0.000000,17.466417
9,Jammu & Kashmir,2.041255,0.119605,1.355521,0.837234,1.770151,1.714336,0.071763,7.909865
10,Jharkhand,1.840056,0.391050,1.203463,0.821508,2.503931,0.588090,0.618404,7.966501
11,Karnataka,4.975833,0.721823,2.517379,1.700622,4.404594,1.484566,1.302883,17.107700
12,Kerala,2.882710,0.793269,3.188044,2.457638,1.882892,0.916001,0.000000,12.120555
13,Madhya Pradesh,3.104914,0.257481,2.172751,0.956947,3.899387,1.320449,0.086745,11.798673
14,Maharashtra,3.620044,0.555287,1.792224,0.424474,2.260303,1.326815,1.414024,11.393171
15,Manipur,1.155546,0.175083,1.050496,0.350165,1.750827,1.400661,0.000000,5.882777
16,Meghalaya,0.471875,0.269643,1.280803,0.370759,1.145982,0.539285,0.674107,4.752453
17,Mizoram,1.458249,0.000000,1.913952,0.455703,3.645624,1.913952,0.000000,9.387481
18,Nagaland,0.606519,0.909779,0.960323,0.353803,0.404346,0.859236,0.000000,4.094006
19,Odisha,2.501536,0.357362,1.398478,0.790962,2.923223,1.022056,0.371657,9.365273
20,Punjab,4.246064,0.364051,4.267691,1.402138,3.665745,1.585966,1.124594,16.656251
21,Rajasthan,2.774680,0.147341,3.871715,1.204987,4.834538,2.160516,0.016047,15.009824
22,Sikkim,0.818898,0.000000,6.714960,0.000000,0.000000,1.965354,0.163780,9.662991
23,Tamil Nadu,6.520019,0.433836,4.858135,2.748554,3.370894,1.835141,1.287648,21.054228
24,Telangana,4.337328,2.080305,2.824379,1.624560,6.222314,3.035200,1.286627,21.410714
25,Tripura,1.061537,0.517159,1.170413,0.244970,1.007100,0.707692,0.408284,5.117154
26,Uttarakhand,0.951787,0.079316,2.508355,1.338450,3.053649,0.674182,0.099144,8.704884
27,Uttar Pradesh,1.247170,0.388865,1.585488,0.626087,2.252614,0.948890,1.102034,8.151148
28,West Bengal,1.460404,0.098602,0.738419,0.734037,1.966560,0.821683,0.616810,6.436514
29,Andaman & Nicobar Islands,1.313781,0.788268,1.576537,0.788268,1.313781,0.262756,0.000000,6.043392
30,Chandigarh,1.894926,0.094746,4.926808,2.179165,1.421195,1.894926,0.000000,12.411767
31,Dadra & Nagar Haveli,4.073213,0.581888,1.745663,1.163775,6.982651,2.327550,0.290944,17.165684
32,Daman & Diu,3.288838,0.000000,0.000000,0.411105,1.233314,1.233314,0.000000,6.166571
33,Delhi,0.851802,0.160830,1.775084,0.673102,2.162266,0.327616,4.002873,9.953573
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,Puducherry,4.407217,0.240394,1.442362,0.961575,2.003281,3.044986,0.000000,12.099815
36,Total,2.686036,0.518559,2.150381,1.006314,2.949238,1.270177,0.954202,11.534907

Number of Persons Killed for each vehicle type per 1L people of that state.

In [59]:
#Total accidents, fatal accidents, killed and injured for each state per 1L people of that state.
new_df25= df6.iloc[:,3::2]
new_df25.head()

,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people,Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people,Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people,Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people,"Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people","Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people",...,"Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people",Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people,Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people,Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Total
0,3.741606,13.812077,3.821742,13.991430,1.812609,8.475376,1.864125,13.686149,1.696220,7.351559,...,9.814799,1.450087,2.997482,1.541671,2.520480,0.889132,2.440344,1.686680,2.459424,46.631741
1,1.084029,2.457132,1.517640,2.168058,0.505880,1.228566,0.505880,2.601669,1.228566,3.035281,...,6.142830,0.000000,0.000000,0.000000,0.000000,1.951252,3.974772,2.384863,4.191578,14.815061
2,1.567028,4.832470,1.720846,4.300513,0.208296,0.935730,0.240342,0.948548,1.522164,5.165743,...,4.928606,1.198504,3.489761,1.285027,2.868077,0.233933,0.797934,0.298024,0.698593,22.893344
3,0.738717,1.681085,0.787708,1.086461,0.121038,0.340059,0.138329,0.313162,0.697410,1.431324,...,1.746407,0.260328,0.572529,0.279540,0.425555,0.589821,1.514898,0.662828,1.119122,9.179683
4,4.204313,18.739334,4.407873,16.813336,0.121354,1.217450,0.144841,1.158730,1.835961,11.657768,...,9.583014,2.998607,6.451310,3.076899,4.662324,0.555877,2.016034,0.602853,1.714608,54.104102

In [60]:
total_sum = new_df25.sum(axis=1)
df6["Total"] = total_sum
df6.iloc[:,[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,-1]]

,States/UTs,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people,Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people,Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people,Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people,"Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people",...,"Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people",Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people,Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people,Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Number of Persons Killed
0,Andhra Pradesh,3.741606,13.812077,3.821742,13.991430,1.812609,8.475376,1.864125,13.686149,1.696220,...,9.814799,1.450087,2.997482,1.541671,2.520480,0.889132,2.440344,1.686680,2.459424,15.088536
1,Arunachal Pradesh,1.084029,2.457132,1.517640,2.168058,0.505880,1.228566,0.505880,2.601669,1.228566,...,6.142830,0.000000,0.000000,0.000000,0.000000,1.951252,3.974772,2.384863,4.191578,8.599962
2,Assam,1.567028,4.832470,1.720846,4.300513,0.208296,0.935730,0.240342,0.948548,1.522164,...,4.928606,1.198504,3.489761,1.285027,2.868077,0.233933,0.797934,0.298024,0.698593,8.081889
3,Bihar,0.738717,1.681085,0.787708,1.086461,0.121038,0.340059,0.138329,0.313162,0.697410,...,1.746407,0.260328,0.572529,0.279540,0.425555,0.589821,1.514898,0.662828,1.119122,4.719525
4,Chhattisgarh,4.204313,18.739334,4.407873,16.813336,0.121354,1.217450,0.144841,1.158730,1.835961,...,9.583014,2.998607,6.451310,3.076899,4.662324,0.555877,2.016034,0.602853,1.714608,15.744642
5,Goa,8.912992,130.746737,9.187238,57.454518,0.137123,2.331090,0.137123,1.165545,4.113689,...,7.198955,0.000000,0.205684,0.000000,0.000000,2.399652,16.591878,2.399652,7.473201,19.882828
6,Gujarat,2.539722,9.202562,2.794521,8.476218,0.838853,3.616828,0.986107,4.369645,1.927541,...,7.362711,1.161488,2.916957,1.312052,2.854085,1.517215,5.233316,1.636342,4.238936,13.161880
7,Haryana,1.183364,4.461281,1.254366,5.404028,0.508846,1.597541,0.710018,0.986136,3.542202,...,9.593135,2.354894,5.013518,2.386450,5.617033,2.709903,6.484833,2.792738,2.248391,17.683398
8,Himachal Pradesh,2.403635,11.857934,2.461905,15.776588,3.350522,11.610287,4.413949,19.141678,2.971767,...,8.886167,0.000000,0.000000,0.000000,0.000000,0.000000,0.014567,0.000000,0.014567,17.466417
9,Jammu & Kashmir,1.802046,8.778993,2.041255,5.653321,0.079737,0.510314,0.119605,1.387416,1.116312,...,11.745192,1.578783,7.582945,1.714336,23.514305,0.079737,0.526261,0.071763,3.588144,7.909865
10,Jharkhand,1.630889,3.607358,1.840056,2.704003,0.354673,0.760880,0.391050,0.742691,0.963983,...,3.910497,0.515337,1.133741,0.588090,0.776037,0.615373,1.342907,0.618404,0.806351,7.966501
11,Karnataka,4.047775,17.598736,4.975833,22.800446,0.590880,4.276925,0.721823,6.828676,2.340606,...,18.836147,1.918315,9.067801,1.484566,12.017292,1.569679,8.282143,1.302883,7.095473,17.107700
12,Kerala,2.846789,36.259887,2.882710,35.284016,0.751361,15.078102,0.793269,17.308236,2.993469,...,13.572387,0.877086,4.900308,0.916001,5.032021,0.000000,0.000000,0.000000,0.000000,12.120555
13,Madhya Pradesh,2.786850,27.108447,3.104914,25.822420,0.209289,2.815765,0.257481,3.962724,1.759681,...,15.706321,1.225443,7.001547,1.320449,6.157506,0.202405,1.075360,0.086745,0.823387,11.798673
14,Maharashtra,3.305915,12.537561,3.620044,10.064576,0.465409,2.959751,0.555287,3.034501,1.589331,...,6.241639,1.323256,6.367112,1.326815,3.521267,1.018916,3.033611,1.414024,2.747958,11.393171
15,Manipur,1.155546,7.038323,1.155546,11.310340,0.175083,1.470694,0.175083,3.046438,0.910430,...,7.843703,1.365645,5.497595,1.400661,7.913736,0.000000,0.000000,0.000000,0.000000,5.882777
16,Meghalaya,0.471875,1.516740,0.471875,0.842633,0.269643,0.910044,0.269643,0.505580,1.213392,...,1.112276,0.471875,5.628792,0.539285,3.202007,0.572991,2.157142,0.674107,1.280803,4.752453
17,Mizoram,1.367109,2.916499,1.458249,2.460796,0.000000,0.182281,0.000000,0.182281,1.549390,...,8.020372,1.549390,2.096234,1.913952,5.468435,0.000000,0.000000,0.000000,0.000000,9.387481
18,Nagaland,0.505433,2.830424,0.606519,2.729338,0.758149,2.931511,0.909779,1.819558,0.758149,...,0.707606,0.707606,3.942377,0.859236,3.184227,0.000000,0.000000,0.000000,0.000000,4.094006
19,Odisha,2.356208,6.282428,2.501536,6.227632,0.345450,1.369889,0.357362,1.801106,1.181678,...,7.497460,0.843375,2.401474,1.022056,2.575390,0.371657,0.945819,0.371657,0.852905,9.365273
20,Punjab,3.892826,5.759941,4.246064,3.557611,0.353238,0.666827,0.364051,0.558693,4.026192,...,3.319716,1.557131,2.083383,1.585966,1.056109,0.998438,1.304818,1.124594,0.508230,16.656251
21,Rajasthan,2.700280,8.687288,2.774680,8.987805,0.180894,0.716282,0.147341,0.900093,3.512845,...,9.714299,1.973787,4.484420,2.160516,4.345832,0.014588,0.021882,0.016047,0.014588,15.009824
22,Sikkim,0.818898,5.077165,0.818898,4.913385,0.000000,0.000000,0.000000,0.000000,5.896062,...,0.000000,1.801575,7.861416,1.965354,15.722833,0.163780,0.163780,0.163780,0.000000,9.662991
23,Tamil Nadu,6.334287,33.276491,6.520019,34.777592,0.418590,4.033430,0.433836,5.657891,4.320344,...,15.022101,1.729801,2.885774,1.835141,0.912026,1.246067,5.131188,1.287648,4.694580,21.054228
24,Telangana,4.160611,14.249007,4.337328,11.548640,1.853983,7.958486,2.080305,11.762561,2.532950,...,19.221898,2.551552,5.747967,3.035200,2.948391,1.187417,4.693863,1.286627,5.611554,21.410714
25,Tripura,1.007100,3.865085,1.061537,3.919522,0.517159,2.449702,0.517159,4.028398,0.952662,...,6.369224,0.653254,3.892304,0.707692,6.287567,0.381065,1.306507,0.408284,1.224851,5.117154
26,Uttarakhand,0.803070,2.290237,0.951787,2.478612,0.059487,0.138802,0.079316,0.416407,1.873830,...,3.291596,0.545295,0.892300,0.674182,0.922044,0.158631,0.307348,0.099144,0.257776,8.704884
27,Uttar Pradesh,1.095528,2.451801,1.247170,1.758150,0.323303,0.738693,0.388865,0.592056,1.347264,...,2.742573,0.847795,1.812200,0.948890,1.178606,0.830780,1.997374,1.102034,1.515922,8.151148
28,West Bengal,1.377140,3.849857,1.460404,2.639245,0.098602,0.279372,0.098602,0.625574,0.633243,...,3.486126,0.818396,2.128706,0.821683,1.781408,0.537928,1.091195,0.616810,1.225951,6.436514
29,Andaman & Nicobar Islands,1.051025,24.173566,1.313781,25.750103,0.788268,6.831660,0.788268,10.247490,1.576537,...,8.933709,0.262756,2.102049,0.262756,0.788268,0.000000,0.000000,0.000000,0.000000,6.043392
30,Chandigarh,1.894926,5.779525,1.894926,7.200720,0.094746,0.852717,0.094746,1.421195,4.832062,...,2.463404,1.894926,3.221375,1.894926,1.042209,0.000000,0.000000,0.000000,0.000000,12.411767
31,Dadra & Nagar Haveli,3.491326,5.236988,4.073213,4.364157,0.581888,1.163775,0.581888,2.618494,1.163775,...,11.346808,2.327550,4.073213,2.327550,3.782269,0.290944,0.290944,0.290944,0.000000,17.165684
32,Daman & Diu,3.288838,5.755467,3.288838,9.044305,0.000000,0.411105,0.000000,0.822210,0.000000,...,3.288838,1.233314,3.699943,1.233314,2.877733,0.000000,0.000000,0.000000,0.000000,6.166571
33,Delhi,0.816062,7.773437,0.851802,8.107010,0.160830,1.358118,0.160830,1.447468,1.679777,...,6.308099,0.327616,1.888260,0.327616,1.924000,3.955220,13.158254,4.002873,10.465846,9.953573
34,Lakshadweep,0.000000,1.551037,0.000000,1.551037,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,Puducherry,3.605905,42.709942,4.407217,47.998603,0.240394,3.044986,0.240394,3.365511,2.083412,...,12.660733,0.881443,4.006561,3.044986,14.904407,0.000000,0.000000,0.000000,0.000000,12.099815
36,Total,2.482874,11.036334,2.686036,10.525786,0.458602,2.574379,0.518559,3.373484,1.883215,...,7.807046,1.206007,3.632227,1.270177,3.221360,0.827019,2.627482,0.954202,2.218845,11.534907

Total accidents, fatal accidents, killed and injured for each state per 1L people of that state.

In [61]:
#Number of Accidents happening in DAY and NIGHT TIME for 2014 and 2016.
df7.head()

,S. No.,States/Uts,06-900hrs - Day - 2014,09-1200hrs - Day - 2014,12-1500hrs - Day - 2014,15-1800hrs - Day - 2014,18-2100hrs - Night - 2014,21-2400hrs - Night - 2014,00-300hrs - Night - 2014,03-600hrs - Night - 2014,Total Accidents - 2014,06-900hrs - (Day) - 2016,09-1200hrs - (Day) - 2016,12-1500hrs - (Day) - 2016,15-1800hrs - (Day) - 2016,18-2100hrs - (Night) - 2016,21-2400hrs - (Night) - 2016,00-300hrs - (Night) - 2016,03-600hrs - (Night) - 2016,Total Accidents - 2016
0,1,Andhra Pradesh,2548,3448,3491,3606,4058,2989,2031,2269,24440,2707,3516,3617,4348,4742,2774,1461,1723,24888
1,2,Arunachal Pradesh,43,30,28,20,16,23,19,26,205,50,37,33,38,25,20,19,27,249
2,3,Assam,1034,1633,1092,1456,979,416,308,226,7144,940,1354,1280,1219,1114,683,378,467,7435
3,4,Bihar,1433,1661,1484,1485,1092,823,677,901,9556,1169,1431,1268,1244,1073,689,466,882,8222
4,5,Chhattisgarh,1677,2316,2064,2550,2256,1394,755,809,13821,1592,2269,2221,2441,2657,1242,619,539,13580

In [62]:
#2014 DAY and NIGHT
new_df26= df7.iloc[:,2:11]
new_df26.head()

,06-900hrs - Day - 2014,09-1200hrs - Day - 2014,12-1500hrs - Day - 2014,15-1800hrs - Day - 2014,18-2100hrs - Night - 2014,21-2400hrs - Night - 2014,00-300hrs - Night - 2014,03-600hrs - Night - 2014,Total Accidents - 2014
0,2548,3448,3491,3606,4058,2989,2031,2269,24440
1,43,30,28,20,16,23,19,26,205
2,1034,1633,1092,1456,979,416,308,226,7144
3,1433,1661,1484,1485,1092,823,677,901,9556
4,1677,2316,2064,2550,2256,1394,755,809,13821

In [63]:
total_sum = new_df26.sum(axis=0)
total_sum

06-900hrs - Day - 2014       106900
09-1200hrs - Day - 2014      156274
12-1500hrs - Day - 2014      152768
15-1800hrs - Day - 2014      168872
18-2100hrs - Night - 2014    166508
21-2400hrs - Night - 2014    105140
00-300hrs - Night - 2014      58358
03-600hrs - Night - 2014      63980
Total Accidents - 2014       978800
dtype: int64

In [64]:
#2016 DAY and NIGHT
new_df27= df7.iloc[:,11:20]
new_df27.head()

,06-900hrs - (Day) - 2016,09-1200hrs - (Day) - 2016,12-1500hrs - (Day) - 2016,15-1800hrs - (Day) - 2016,18-2100hrs - (Night) - 2016,21-2400hrs - (Night) - 2016,00-300hrs - (Night) - 2016,03-600hrs - (Night) - 2016,Total Accidents - 2016
0,2707,3516,3617,4348,4742,2774,1461,1723,24888
1,50,37,33,38,25,20,19,27,249
2,940,1354,1280,1219,1114,683,378,467,7435
3,1169,1431,1268,1244,1073,689,466,882,8222
4,1592,2269,2221,2441,2657,1242,619,539,13580

In [65]:
total_sum = new_df27.sum(axis=0)
total_sum

06-900hrs - (Day) - 2016       109044
09-1200hrs - (Day) - 2016      151542
12-1500hrs - (Day) - 2016      146760
15-1800hrs - (Day) - 2016      171668
18-2100hrs - (Night) - 2016    169110
21-2400hrs - (Night) - 2016    101940
00-300hrs - (Night) - 2016      51952
03-600hrs - (Night) - 2016      59288
Total Accidents - 2016         961304
dtype: int64

Number of Accidents happening in DAY and NIGHT TIME for 2016